@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; }

body {
	background:url(images/bg-gradiant.jpg) repeat-x #d8f6ff;
	font-family:"Trebuchet MS", Times, serif;
	font-size:13px;
}

.is-clear { clear:both; font-size:0%; border:0; }

/* LOGIN SCREEN */

.leftdiv  { float:left; }
.rightdiv  { float:right; }

#loginWrapper {
	margin:0 auto;
	padding:0;
	background:url(images/bg-graphics.jpg) top center no-repeat;
	min-width:960px;
	min-height:520px;
}

#loginBlock {
	margin:0 auto;
	padding:225px 0 0 0;
	width:590px;
}

#login-form {
	margin:0;
	padding:0;
	color:#fff;
}
/*
.inputBg { background:url(images/inputbg.png) no-repeat top; height:25px; margin:0 0 5px 0; padding:0; }
.inputBg:hover { background:url(images/inputbg.png) no-repeat bottom; }
*/

.inputWrap { height:25px; margin:0 0 5px 0; padding:0; }

.inputBg { 
	background:#fff url(images/text-bg.gif) repeat-x;
	border:1px solid #b5b8c8;
	width:144px;
	height: 18px;
    line-height: 18px;
	padding:1px 3px;
	color:#000;
    font: 12px tahoma,arial,helvetica,sans-serif;
}
.inputBg:hover { border-color: #7EADD9; }

.btnStyle {
	background:#000;
	font-family:"Trebuchet MS", Times, serif;
	font-size:13px;
	color:#fff;
	border:none;
	padding:3px 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor:pointer;
}

#login-form { /*position:relative; z-index:1;*/ }
.logo { width:290px; height:119px; /*background:url(images/logo.png) no-repeat left;*/ }
.formarea { width:295px; height:119px; }

#login-form .form-input { float:left; margin:0; padding:13px 0 0 20px; width:156px; }
#login-form .form-input label { color:#1d8eaa; font-size:12px; margin:0; padding:0 0 6px 1px; }

#login-form .msg { margin:0; padding:20px 0 0 20px; display:none;  }
#login-form .msg span.msgTxt { background:url(images/error.png) left no-repeat; color:#f50000; font-size:11px; padding:0 0 0 20px; }

#login-form .form-btn { /*position:absolute; z-index:999; top:245px; padding-left:91px;*/ }

#login-form .form-btn a, #login-form .form-btn a:link, #login-form .form-btn a:visited  { 
	display:block;
	background:url(images/login-btn.png) no-repeat top;
	text-align:center;
	color:#fff;
	width:70px;
	height:28px;
	text-decoration:none;
	padding:42px 0 0 0;
	font-size:11px;
}
#login-form .form-btn a:hover  { display:block; background:url(images/login-btn.png) no-repeat bottom; }

.form-input .msg-tip { 
	position:absolute;
	padding:4px 0 0;
	background:url(images/msg-tips.png) no-repeat;
	color:#fff;
	width:182px;
	height:59px;
	text-align:center;
	top:-34px;
	left:70px;
	z-index:999;
	font-size:11px;
	display:none;
}

#login-form .form-btn { float:right; margin:0; padding:26px 30px 0 0; }

.ribbon-area { position:relative; padding:0; margin:0; height:0; font-size:0%; }
.ribbon-area .ribbon-red { position:absolute;  margin:0; top:0; right:0;  background:url(images/ribbon-red.gif) no-repeat; height:65px; width:65px; padding:0; }
.ribbon-area .ribbon-red span  { padding:9px 0 0 34px; display:inline-block; text-shadow: #000 1px 2px 2px; color:#fff; font-size:10px; }

.copyright { text-align:center; font-size:11px; color:#7dd4e8; padding:220px 0 0; }