/* CSS Document */
a.form-item-del-btn:link, a.form-item-del-btn:visited { position:absolute; right:0px; top:3px;}

.x-form-text, .ext-ie .x-form-file {
	margin: 0px 0px;
    vertical-align:baseline;
}

.x-menu-list-item-indent .x-menu-item-icon { top: -2px; }

