@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; outline:none 0; }

.leftdiv  { float:left; }
.rightdiv  { float:right; }
.clear { clear:both; font-size:0%; border:0; }

a.linked, a.linked:link, a.linked:visited { color:#004ea5; outline:none 0; text-decoration:underline; }
a.linked:hover { color:#000; outline:none 0; text-decoration:none; }

.x-grid3-cell a, .x-grid3-cell a:link, .x-grid3-cell a:visited { color:#004ea5; outline:none 0; text-decoration:underline; }
.x-grid3-cell a:hover { color:#000; outline:none 0; text-decoration:none; /*background:url(images/icons/link_arr_icon.png) no-repeat;*/ padding:0; }


/* INNER SCREEN */
.logo_area { float:right; margin:18px 35px 0 0; padding:0; outline:none; }

/* Ribbon Area */
.ribbon-area { position:relative; padding:0; margin:0; height:0; font-size:0%; z-index:5; }

.ribbon-area .ribbon-red { position:absolute;  margin:0; top:0; right:0;  background:url(images/ribbon-red.gif) no-repeat; height:65px; width:65px; padding:0; z-index:50; }
.ribbon-area .ribbon-red span  { padding:9px 0 0 34px; display:inline-block; text-shadow: #000 1px 2px 2px; color:#fff; font-size:10px; }

.ribbon-area .ribbon-grn { position:absolute;  margin:0; top:0; right:0;  background:url(images/ribbon-grn.gif) no-repeat; height:65px; width:65px; padding:0; z-index:50; }
.ribbon-area .ribbon-grn span  { padding:9px 0 0 34px; display:inline-block; text-shadow: #000 1px 2px 2px; color:#fff; font-size:10px; }
/* /Ribbon Area */

/* Messgae Box Style */
.xenos-msgbox { width:280px; color:#fff; padding:0; margin-bottom:5px; text-align:center; float:right; font-size:11px; }
.xenos-msgbox h3 { margin:0 0 5px; }
.xenos-msgbox-t { background:url(images/msg-box-t.png) no-repeat top; height:6px; font-size:0%; }
.xenos-msgbox-b { background:url(images/msg-box-b.png) no-repeat bottom; padding:4px 10px 10px; }
.msgbox-container { position:absolute; top:5px; right:5px; z-index:9999;}

/* TopBand style */
.xenos-topband { background:url(images/xenos-topband.gif) repeat-x top; border-color:#1c2328; }
.xenos-topband  label { padding:0 6px; color:#fff; text-shadow: #000 1px 1px 2px; }
.xenos-topband  label  span { text-transform:uppercase; font-weight:bold; }
.x-toolbar.xenos-topband .xtb-sep { background-image: url(images/xenos-topband-sep.gif); }

/* Form Component */
.xenos-txt{ margin-left: 0px; width: 33.9%; }
.xenos-txt-fieldset-left{ margin-left: 0px; width: 34.5%; }
.xenos-txt-fieldset-right{ margin-left: 0px; width: 34%; }
.xenos-txt-popup { margin-left: 0px; /*width: 34.6%;*/ }
.xenos-date{ margin-left: 0px; /*width: 14.6%;*/ }
.xenos-combo{ margin-left: 0px; width: 34.3%; }
.xenos-btn{ margin-left: 0px; /*width: 25px;*/ }
.xenos-form-fieldset{ width: 80%; }

/* ICON SETS */
.x-form-field-wrap .x-form-trigger.xenos-combo-popup { background-image:url(images/combo_tree.png); }
/*.x-form-field-wrap.x-form-field-trigger-wrap.x-column.x-trigger-wrap-focus { background-image:url(images/combo_tree.png); }*/

.x-form-field-wrap .x-form-trigger.xenos-colorpick { background-image:url(images/color-picker.png); }

.xenos-search-ico { background:url(images/icons/search-icon.png) right no-repeat #fff; }
.app-win-ico { background-image:url(images/icons/app-win-icon.png) !important; }
.settings-ico { background-image:url(images/icons/settings-icon.png) !important; }
.app-popup-ico { background-image:url(images/icons/app-popup-icon.png) !important; }
.personalize-ico { background-image:url(images/icons/personalize-icon.png) !important; }
.personalize-count-ico { background-image:url(images/icons/personalize-count-icon.png) !important; } 
.pdf-ico { background-image:url(images/icons/pdf-icon.png) !important; }
.excel-ico { background-image:url(images/icons/excel-icon.png) !important; }
.columns-ico { background-image:url(images/icons/columns-icon.png) !important; }
.cross-ico { background-image:url(images/icons/cross-icon.png) !important; }
.reset-ico { background-image:url(images/icons/reset-icon.png) !important; }
.submit-ico { background-image:url(images/icons/submit-icon.png) !important; }
.query-ico { background-image:url(images/icons/query-icon.png) !important; }
.result-ico { background-image:url(images/icons/result-icon.png) !important; }
.save-ico { background-image:url(images/icons/save-icon.png) !important; }
.desk-shortcut-ico { background-image:url(images/icons/desk-shortcut-ico.png) !important; }
.save-search-ico { background-image:url(images/icons/save-search-icon.png) !important; }
.print-ico { background-image:url(images/icons/print-icon.png) !important; }
.refresh-ico { background-image:url(images/icons/refresh-icon.png) !important; }
.back-ico { background-image:url(images/icons/back-icon.png) !important; }
.next-ico { background-image:url(images/icons/next-icon.png) !important; }
.add-ico { background-image:url(images/icons/add-icon.png) !important; }
.del-ico { background-image:url(images/icons/del-icon.png) !important; }
.grid-ico { background-image:url(images/icons/grid-icon.png) !important; }
.detail-entry-ico { background-image:url(images/icons/detail-entry-icon.png) !important; }
.detail-ico { background-image:url(images/icons/detail-icon.png) !important; }
.help-ico { background-image:url(images/icons/help-icon.png) !important; }

/* /ICON SETS */

.taskbarHide { height:1px; border-width:1px 0; border-color:#004669 #000 #378cb8; border-style:solid; background:#7dccf4; font-size:0%; }

.search-item { padding:3px; }
.search-item h3 { font-size:10px; font-weight:bold; } 
.search-item p { font-size:10px; font-weight:normal; } 

/* UX Style */
.x-grid3-hd-row .ux-filtered-column { border-left:  1px solid #C7E3B4; border-right: 1px solid #C7E3B4; }
.x-grid3-hd-row .ux-filtered-column .x-grid3-hd-inner { background-image: url(images/ux/header_bg.gif); }
.ux-filtered-column .x-grid3-hd-btn { background-image: url(images/ux/hd-btn.gif); }
.ux-filtered-column.sort-asc .x-grid3-sort-icon { background-image: url(images/ux/sort_filtered_asc.gif); }
.ux-filtered-column.sort-desc .x-grid3-sort-icon { background-image: url(images/ux/sort_filtered_desc.gif); }
.ux-gridfilter-text-icon { background-image: url(images/ux/find.png); }

/* RangeMenu.js Styles */
 
 /* Bug patch */
 .x-menu-list-item-indent .x-menu-item-icon {
	position: relative;
    top: 3px;
    left: 3px;
	margin-right: 10px;
}
li.x-menu-list-item-indent { padding-left:0px; }
li.x-menu-list-item div { display: block; }
 /* Bug patch */
 
.ux-rangemenu-gt { background-image: url(images/ux/greater_than.png) !important; }
.ux-rangemenu-lt { background-image: url(images/ux/less_than.png) !important; }
.ux-rangemenu-eq { background-image: url(images/ux/equals.png) !important; }

/* ******************** */
/* Xenos Override Style */
/* ******************** */
/* Window panel outside border */
.bodyBdrStyle { border:1px solid #14739e; padding:1px; }

/*
.x-window-dlg .x-window-mc { border:1px solid #2390c1 !important; }
.x-window-dlg .x-window-body { border:1px solid #8dd0ef !important; }
*/

.xenos-fieldset { margin:5px; }

/* Footer config */
.form-action-bar { background:#e3f4f9 url(images/footer-bar-bg.gif) top repeat-x; border-bottom:1px solid #bbb; }

.popup-pnl { background:#fff; }

/* Setting Panel */
.setting-pnl { background:#fff; }
.setting-pnl .x-panel-bl { padding-left:0; }
.setting-pnl .x-panel-br { padding-right:0; }
.setting-pnl .form-action-bar { border-bottom:0 none; }

.shadow { height:5px; font-size:0%; background:url(images/x-toolbar-shadow.png) top repeat-x; }

.xenos-nav-tbar td.x-toolbar-cell { padding:0 1px; }

.xenos-nav-tbar .x-btn button { padding:0 0 0 3px; }

.x-tab-strip-top .x-tab-with-icon .x-tab-right { padding-left:15px; }
.x-tab-strip-top .x-tab-left { padding-right:15px; }

/* *** Panel No border Style *** */
.x-panel.noBorderStyle .x-panel-tl { border:none 0; }
 
.x-panel.noBorderStyle .x-panel-tl, 
.x-panel.noBorderStyle .x-panel-tr, 
.x-panel.noBorderStyle .x-panel-bl, 
.x-panel.noBorderStyle .x-panel-br { background-image:none; }

.x-panel.noBorderStyle .x-panel-ml, 
.x-panel.noBorderStyle .x-panel-bc, 
.x-panel.noBorderStyle .x-panel-tc, 
.x-panel.noBorderStyle .x-panel-mr { background-image:none; }

/* SORT CRITERIA BLOCK */

.x-panel.xenos-sort-panel .x-panel-tl { border:none 0; }

.x-panel.xenos-sort-panel .x-panel-tl, 
.x-panel.xenos-sort-panel .x-panel-tr, 
.x-panel.xenos-sort-panel .x-panel-bl, 
.x-panel.xenos-sort-panel .x-panel-br { background:none; }

.x-panel.xenos-sort-panel .x-panel-ml, 
.x-panel.xenos-sort-panel .x-panel-bc, 
.x-panel.xenos-sort-panel .x-panel-tc, 
.x-panel.xenos-sort-panel .x-panel-mr { background:none; }

.x-panel.xenos-sort-panel .x-panel-mc { background:#ebf1de; }

.x-panel.xenos-sort-panel { background:#ebf1de; padding:5px; }
.x-panel.xenos-sort-panel .x-panel-body { background:#ebf1de; }

/* Sort criteria plain */

.x-panel.xenos-sort-panel-plain .x-panel-tl { border:none 0; }

.x-panel.xenos-sort-panel-plain .x-panel-tl, 
.x-panel.xenos-sort-panel-plain .x-panel-tr, 
.x-panel.xenos-sort-panel-plain .x-panel-bl, 
.x-panel.xenos-sort-panel-plain .x-panel-br { background:none; }

.x-panel.xenos-sort-panel-plain .x-panel-ml, 
.x-panel.xenos-sort-panel-plain .x-panel-bc, 
.x-panel.xenos-sort-panel-plain .x-panel-tc, 
.x-panel.xenos-sort-panel-plain .x-panel-mr { background:none; padding:0; }

.x-panel.xenos-sort-panel-plain .x-panel-mc { background:#ebf1de; }

.x-panel.xenos-sort-panel-plain { background:#ebf1de; padding:5px; }
.x-panel.xenos-sort-panel-plain .x-panel-body { background:#ebf1de; }

/* Panel Margin */

.x-panel.form-inner { margin:0 0 7px 0; }

.x-panel.xenos-plain .x-panel-ml, 
.x-panel.xenos-plain .x-panel-bc, 
.x-panel.xenos-plain .x-panel-tc, 
.x-panel.xenos-plain .x-panel-mc, 
.x-panel.xenos-plain .x-panel-mr { padding:0; }

/* Desktop shortcut btn style */

.x-btn.xenos-btn-clearstyle .x-btn-tl, 
.x-btn.xenos-btn-clearstyle .x-btn-tr, 
.x-btn.xenos-btn-clearstyle .x-btn-tc, 
.x-btn.xenos-btn-clearstyle .x-btn-ml, 
.x-btn.xenos-btn-clearstyle .x-btn-mr, 
.x-btn.xenos-btn-clearstyle .x-btn-mc, 
.x-btn.xenos-btn-clearstyle .x-btn-bl, 
.x-btn.xenos-btn-clearstyle .x-btn-br, 
.x-btn.xenos-btn-clearstyle .x-btn-bc { background-image:none; margin:0; padding:0; font-size:0%; } 

.x-btn.xenos-btn-clearstyle em { /*width:64px;*/ display:block; }

.x-btn.xenos-btn-clearstyle button.x-btn-text {
	width:70px;
	color:#000;
	white-space: normal;
	word-wrap: break-word;
	outline: none;
	border:0 none;
	display:block;
	font-size:11px;
	font-family:Arial;	
}

/* Xenos Error List */

ul.xenos-error-list { list-style:none; margin:0; padding:0; }
ul.xenos-error-list li { list-style:none; margin:0 0 3px 0; padding:0 5px; color:#ee0000; }

.error-block { border:1px solid #ff0000; padding:3px; }

/* Menu Drag and Drop Style */ 

.desktop-sc-drag-alw { 
	background:url(images/icons/desk-shortcut-ico.png) no-repeat left #fff;
	padding:4px 8px 4px 22px;
	float:left;
	border:1px solid #378cb8;
	-moz-border-radius: 3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	font-size:11px;
	font-family; Arial;
}

.desktop-sc-drag-alw .x-dd-drag-ghost { border:none 0; padding:0; }
.desktop-sc-drag-alw .x-dd-drag-ghost a.x-menu-item { padding:0; }

.desktop-sc-drag-nalw { 
	background:url(images/icons/desk-shortcut-ico.png) no-repeat left #F5BCCB;
	padding:4px 8px 4px 22px;
	float:left;
	border:1px solid red;
	-moz-border-radius: 3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	font-size:11px;
	font-family; Arial;
}

.x-form-field.desktop-icon-edit { 
	border:0 none;
	/*background:none transparent;*/
	background:#fff;
	font-size:11px;
	font-family:Arial;
	height:inherit;
	line-height:inherit;
	margin:0;
	padding:0;
}

/* Splash Screen */

.no-results { margin:0 auto; font-size:12px; color:#fff; text-align:center; }
.no-results div.bg { background:url(images/no-results-bg.gif) no-repeat; width:196px; height:23px; padding:4px 0 0 0; margin:0 auto; text-align:center; }

.ext-el-mask-msg.splash-scr { background:url(images/splash-bg.png) no-repeat; width:241px; height:85px; padding:23px 0 0 24px; border:0 none; }
.ext-el-mask-msg.splash-scr div { background:url(images/loading.gif) no-repeat; font-size:0%; text-indent:-5000; border:none 0; height:32px; }
.ext-el-mask { z-index:9000; }

.ext-el-mask.dark-mask { background:#000; opacity:.8; filter: alpha(opacity = 80); }

/* used in Instrument Entry Screen */
.valid-row { text-transform:uppercase;}
.invalid-row {background:#ffc6c6; text-transform:uppercase;}

.xenos-head-errmsg {color:#B00404; font-weight: normal;}

/* Xenos Print Report */

.xenos-print-report {
	border-collapse:collapse;
	font: 11px tahoma,arial,verdana,sans-serif;
	border:1px solid #000;
}
.xenos-print-report th { white-space:nowrap; padding: 5px 3px; border:1px solid #000; }
.xenos-print-report td { padding: 5px 3px; text-align: center; border:1px solid #000; }


/* Footer */
.copyright { text-align:center; font-size:11px; color:#7dd4e8; padding:220px 0 0; }
/* /Footer */

/* Override Grid css to enable text selection on the child element of these items */
.x-grid3-row td, .x-grid3-summary-row td { -moz-user-select: -moz-none; }

.x-grid3-row { background:#ffffff; }
.x-grid3-row.grid-cancel-row { background-color:#e5e5e5; }
.x-grid3-row.x-grid3-row-alt { background-color: #b1f9ff; }
.x-grid3-row.x-grid3-row-alt.grid-cancel-row-alt { background-color:#cecece; }

.x-grid3-row-selected { background-color:#fff6cb !important; }

.x-grid3-row.x-grid3-row-over, 
.x-grid3-row.x-grid3-row-alt.x-grid3-row-over, 
.x-grid3-row.grid-cancel-row.x-grid3-row-over, 
.x-grid3-row.grid-cancel-row-alt.x-grid3-row-over { background-color:#fff6cb !important; }

.x-grid-with-col-lines .x-grid3-row td.x-grid3-cell { border-right-color: #c4d7dd; }

/*
.x-grid3-col-principalAmountStr, 
.x-grid3-col-netAmountStr, 
.x-grid3-col-priceStr { background:#fcfff9; }

.x-grid3-row-alt .x-grid3-col-principalAmountStr, 
.x-grid3-row-alt .x-grid3-col-netAmountStr, 
.x-grid3-row-alt .x-grid3-col-priceStr { 
	background:#f0f8e6;
}

.grid-cancel-row .x-grid3-col-principalAmountStr, 
.grid-cancel-row .x-grid3-col-netAmountStr, 
.grid-cancel-row .x-grid3-col-priceStr { 
	background:url(images/grid-cancel-row-grn.gif);
}

.grid-cancel-row.x-grid3-row-alt .x-grid3-col-principalAmountStr, 
.grid-cancel-row.x-grid3-row-alt .x-grid3-col-netAmountStr, 
.grid-cancel-row.x-grid3-row-alt .x-grid3-col-priceStr { 
	background:url(images/grid-cancel-row-alt-grn.gif);
}
*/

/*css for multiselect component   */

.ux-mselect{
    /*overflow:auto;*/
	overflow-y: scroll;
	height: 100px;
	width: 231px;
    background:white;
    position:relative; /* for calculating scroll offsets */
    zoom:1;
}
.ux-mselect-item{
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    padding:2px;
    border:1px solid #fff;
    white-space: nowrap;
    cursor:pointer;
}
.ux-mselect-selected{
	border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
    cursor:pointer;
}

.x-view-drag-insert-above { 
    border-top:1px dotted #3366cc; 
} 
.x-view-drag-insert-below { 
    border-bottom:1px dotted #3366cc; 
} 
.multiselect-field { 
	border:0 none; 
} 
.multiselect-focus .x-fieldset { 
	border-color: #7EADD9; 
} 

/* TAB override style */
.xenos-tabpanel ul.x-tab-strip li {
	margin-left:0;
}

.xenos-tabpanel ul.x-tab-strip-top {
	padding-left:5px;
	padding-top:4px;
}
.xenos-tabpanel .x-tab-panel-header { padding-bottom:0; border-bottom:0 none; background:#fff; }

.xenos-tabpanel .x-tab-panel-bwrap {  }


/* To Labelify a form field - Applied on 'setReadOnly(true)' and Un-Applied on 'setReadOnly(false)' works with a plugin */
.entry-tabs-nodisplay .x-tab-panel-header { display:none; }
.labelify{
	border: none;
	background-image: none;
	cursor: default;
}

/* WIZARD TAB STYLE */
.xenos-wizard-wrap .x-panel-body { background:none transparent; }

.xenos-wizard-step { padding:0 0 0 15px; margin:0; }
.wizard-step { display:inline-block; float:left; margin:0 0 0 -15px; padding:0; position:relative; }

.wizard-step a:link, 
.wizard-step a:visited { 
	display:inline-block;
	background:url(images/wizard-steps-btn-bg.png) right 0 no-repeat;
	height:22px;
	padding:0 13px 0 0;
	margin:0;
	text-decoration:none;
	color:#000;
	outline:none 0;
	font:11px Arial, Helvetica, sans-serif;
}
.wizard-step a:link span, 
.wizard-step a:visited span { 
	background:url(images/wizard-steps-btn-bg.png) left 0 no-repeat;
	display:inline-block;
	height:22px;
	line-height:20px;
	padding:0 0 0 20px;
	margin:0;
}

.wizard-step a:link span img, 
.wizard-step a:visited span img { border:0 none; vertical-align:middle; padding:0 2px 0 0; }

.wizard-step.first a:link span, 
.wizard-step.first a:visited span { padding:0 0 0 9px; }

.wizard-step a:hover { background:url(images/wizard-steps-btn-bg.png) right -22px no-repeat; }
.wizard-step a:hover span { background:url(images/wizard-steps-btn-bg.png) left -22px no-repeat; cursor:pointer; }

/* Active Tab */
.wizard-step.active a:link, 
.wizard-step.active a:visited { background:url(images/wizard-steps-btn-bg.png) right -22px no-repeat; cursor:auto; }
.wizard-step.active a span { background:url(images/wizard-steps-btn-bg.png) left -22px no-repeat; cursor:auto; }

/* Last Tab */
.wizard-step.last a:link, 
.wizard-step.last a:visited { background:url(images/wizard-steps-btn-bg-last.png) right 0 no-repeat; }
.wizard-step.last a:link span, 
.wizard-step.last a:visited span { background:url(images/wizard-steps-btn-bg-last.png) left 0 no-repeat; }
.wizard-step.last a:hover { background:url(images/wizard-steps-btn-bg-last.png) right -22px no-repeat; }
.wizard-step.last a:hover span { background:url(images/wizard-steps-btn-bg-last.png) left -22px no-repeat; cursor:pointer; }

/* Icon CSS */
.wizard-step i { font-style:normal; display:inline-block; width: 15px; height:15px; padding:0; margin:0 4px 0 0; vertical-align:middle; }
.wizard-step.active a i { background:url(images/wizard-steps-btn-icon.png) no-repeat; }
.wizard-step a i { background:url(images/wizard-steps-btn-icon-grey.png) no-repeat; }
.wizard-step a:hover i { background:url(images/wizard-steps-btn-icon.png) no-repeat; }

/* /WIZARD TAB STYLE */

/* Xenos Error List */

ol.xenos-error-list { list-style:lower-roman inside; margin:0; padding:0; }
ol.xenos-error-list li { list-style:lower-roman inside; margin:2px 0 3px 0; padding:0 8px; color:#ee0000; }

/* Toggle mandatory label style */
.x-form-item label.x-form-item-label.label-mandatory {color: #FF0000;}
/*Tab Menu Scroll Bar */

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close { right:6px; top:4px; }

.x-tab-scroller-right-over { background-position: -18px 0; }

.x-tab-tabmenu-right {
    background: transparent url(images/ux/tab-scroller-menu.gif) no-repeat 0 0;
    border-bottom: 1px solid #8db2e3;
    width:18px;
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    cursor:pointer;
}

.x-tab-tabmenu-over { background-position: -18px 0; }

.x-tab-tabmenu-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

/* Help Html */

.help-wrapper { padding:5px; margin:0; }
.help-goto { text-align:right; margin:0; float:right; }
.help-goto a.top { display:block; height:16px; width:16px; text-decoration:none; background:url(images/icons/gotop-icon.png) no-repeat; }
.help-goto a.bot { display:block; height:16px; width:16px; text-decoration:none; background:url(images/icons/gobot-icon.png) no-repeat; }
.help-content { padding:5px; margin:0; }
.help-content h1 { font-size:11px; color:#000; font-weight:bold; padding:0 0 3px; margin:0 0 4px 0; border-bottom:1px dotted #67bbe1; }
.help-content h2 { color:#5f6f76; font-size:11px; font-weight:bold; padding:0 0 2px; margin:0 0 6px 0; border-bottom:1px dotted #ccc; }
.help-content p, .x-window-body .help-content p, .x-panel-body .help-content p { padding:0 0 10px; line-height:16px; }
.help-content ul, .help-content ol { margin:0 0 10px 0;}
.help-content ul li, .help-content ol li { padding:0 0 0 17px; margin:0 0 5px 0; background:url(images/icons/help-arr-icon.gif) no-repeat left top;}
.help-content ul li b, .help-content ol li b { font-weight:normal; color:#009adf; }
.help-content ul li strong, .help-content ol li strong { font-weight:bold; }
.help-content .note { color:#0080ba; font-style:italic; }
.help-sep { height:2px; border-bottom:1px dotted #ccc; padding:0; margin:0 0 5px; }

/* flow Layout */

.floating-form .x-form-item { display: inline-block; float:left; }
.floating-form label.x-form-item-label { padding-right:0; }
.ext-ie .floating-form .x-form-clear-left { clear: none; display:none; }

/* Form icon */
a.form-item-del-btn:link, a.form-item-del-btn:visited { background:url(images/icons/form-close-button.gif); border: 0 none; width:15px; height:15px; float:right; margin: 0; display:inline-block; position:absolute; right:10px; top:3px;}

a.form-item-del-btn:hover { background:url(images/icons/form-close-button.gif) bottom no-repeat; cursor:pointer;}

.personalize-count button.x-btn-text { font-weight:bold; color:#ff0000; }

.x-form-item.form-item-draggable { background:#eee; }

.x-form-item.form-item-draggable label, 
.x-form-item.form-item-draggable .x-form-field-wrap, 
.x-form-item.form-item-draggable { cursor:move; }

.personalize-fade-formitem .x-personalizable .x-form-text.x-form-field { 
	filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.personalize-fade-formitem .x-personalizable label.x-form-item-label {
	filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.personalize-fade-formitem .form-item-draggable label.x-form-item-label { 
	filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

/*.drop-target-bdr { border:1px dotted #000; }*/
.x-form-item.form-item-draggable.drop-target-bdr { background:#e7ffb4; }
.x-panel.form-inner.panel-margin { margin-left:5px; }

/* color picker */
.x-color-picker, .x-color-picker {
  height: 195px;
  position: relative;
  overflow: hidden;
}
.x-color-picker div canvas {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.x-color-picker-wheel { z-index: 1; }
.x-color-picker-gradient  { z-index: 0; }

/* Change enterprise */

#ux-topbar .xenos-topband .x-form-field-wrap.x-form-field-trigger-wrap { height:16px; }

.x-form-field-wrap.x-form-field-trigger-wrap .x-form-text.change-ent-txtbox { 
	height:14px;
	line-height:12px;
	border:0 none;
	font:11px arial,tahoma,helvetica,sans-serif;
	font-weight:bold;
	text-shadow:1px 1px 2px #000000;
	background:none transparent;
	padding:1px 6px 0;
	margin:0;
	color:#fff;
}

.x-small-editor .x-form-text.change-ent-txtbox {
    height: 14px;
    line-height: 12px;
    vertical-align: middle;
}

.ext-gecko .x-form-text, .ext-ie8 .x-form-text.change-ent-txtbox { padding:3px 6px 0; }

.ext-border-box .x-small-editor .x-form-text.change-ent-txtbox { height:16px; }
.ext-ie7 .x-small-editor .x-form-text.change-ent-txtbox  { height:16px !important; }

.x-form-field-wrap .x-form-trigger.change-ent-trigger { background-image:url(images/change-ent.png); }

.x-small-editor .x-form-field-wrap .x-form-trigger.change-ent-trigger { height:16px; border:0 none; }
.x-form-field-wrap.x-form-trigger.change-ent-trigger { height:16px; border:0 none; }





