/*#xn-top-buttons-wrapper { margin:0; text-align:right; font-family:Verdana,Arial,sans-serif; font-size:11px; height:20px; }
	#xn-buttons-container { margin:0; position:relative; width:245px; height:20px; z-index:999; float:right;}
	#xn-top-buttons-wrapper ul { list-style-type: none; margin: 0; padding:0 0 0 10px; border:solid #000000 1px; border-top:solid #486d92 1px; overflow:hidden; width:250px;}
	#xn-top-buttons-wrapper .xn-sortable-items { padding: 12px 5px 3px 5px; background:#ffffff url(../images/xn-sortable-bg.gif) repeat-x top left;}
	#xn-top-buttons-wrapper .xn-sortable-items li { margin: 0 0 2px 0; padding:0; border:none; height: 20px; line-height:18px; }
	#xn-top-buttons-wrapper .ui-state-default { background:none !important; color:#003366; position:relative; white-space:nowrap; overflow:hidden; cursor:move; text-align:left;}
	#xn-top-buttons-wrapper .xn-item-name { display:inline-block; background:url(../images/xn-bullet-item.gif) no-repeat 0 2px; padding:0 0 0 16px; height:18px; }
	#xn-top-buttons-wrapper .ui-state-default .xn-item-attributes {position:absolute; top:0; right:0; display:block; padding-left:10px; padding-right:5px; height:20px;}
	#xn-top-buttons-wrapper .xn-link-failed { display:block; float:left; padding-left:5px; height:20px; background:url(../images/xn-link-failed.gif) no-repeat center left; width:13px; height:20px; cursor:pointer; }
	#xn-top-buttons-wrapper .xn-item-number { display:block; float:left; height:20px; }
	#xn-top-buttons-wrapper .ui-state-default a { color:#630000; font-style:italic; font-weight:bold; text-decoration:none; }
	#xn-top-buttons-wrapper .ui-state-default a:hover { color:#003366; }	
	#xn-top-buttons-wrapper .show-items { position:absolute; right:0; top:20px; display:block; float:right; background:#ffffff; }
	#xn-top-buttons-wrapper .hide-items { display:none; }
	#xn-top-buttons-wrapper .add-group {float:left; background:url(../images/xn-add-group.gif) no-repeat top left; width:102px; height:20px; margin-right:5px; cursor:pointer;}
	#xn-top-buttons-wrapper .add-component {float:left; background:url(../images/xn-add-component-close.gif) no-repeat top left; width:138px; height:20px; cursor:pointer;}
	#xn-top-buttons-wrapper .add-component-open {float:left; background:url(../images/xn-add-component-open.gif) no-repeat top left; width:138px; height:20px; cursor:pointer;}
	
	#xn-dashboard .xn-note-wrapper{display:block; position:absolute; width:400px; top:30%; background-color:#676567; border:solid #363636 5px; padding:5px; font-family:Verdana,Arial,sans-serif; font-size:13px; z-index:2000;}
	#xn-dashboard .xn-note{border:solid #959595 2px; padding:10px; text-align:center;}
	#xn-dashboard .xn-note span.xn-note-title{color:#fdc689; font-weight:bold;}
	#xn-dashboard .xn-note span.xn-note-text{ color:#fff; font-style:italic;}
	
	#xn-dashboard .column { width: 33%; float: left; padding-bottom: 10px; }
	
	#xn-dashboard .ui-sortable-placeholder { border: 1px dotted black !important; visibility: visible !important; height: 50px !important; background:none !important; }
	#xn-dashboard .xn-sortable .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; background: none !important; height: 18px !important; }
	#xn-dashboard .ui-sortable-placeholder * { visibility: hidden; }

	#xn-dashboard { background-color:#f3f3f3; margin:0; padding:10px 4px 0 5px; }
	
	#xn-dashboard .ui-widget { font-family:Verdana,Arial,sans-serif; font-size:11px; }
	#xn-dashboard .portlet { margin: 0 4px 8px 4px; }
	#xn-dashboard .ui-widget-content { border:1px solid #486d92; }
	
	#xn-dashboard .portlet-header { margin:2px; padding:0 5px 3px 5px; border:none; height: 18px; background:none; background-color:#486d92; font-size:12px; color:#ffffff; cursor:move; }
	#xn-dashboard .portlet-header .xn-minimize {float:left; margin-right:5px; margin-top:3px; cursor:pointer;}
	#xn-dashboard .portlet-header .xn-close { float: right; margin-left:3px; margin-top:2px; cursor:pointer; }
	#xn-dashboard .portlet-header .xn-refresh { float: right; margin-left:3px; margin-top:2px; cursor:pointer; }
	#xn-dashboard .portlet-header .xn-portlet-title {float:left; margin-right:2px; padding-top:3px;}
	#xn-dashboard .ui-icon-minusthick {background:#486d92 url(../images/xn-minusthick.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-plusthick {background:#486d92 url(../images/xn-plusthick.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-closethick {background:#486d92 url(../images/xn-closethick.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-refreshthick {background:#486d92 url(../images/xn-refresh.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-minusthick:hover {background:#486d92 url(../images/xn-minusthick-hover.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-plusthick:hover {background:#486d92 url(../images/xn-plusthick-hover.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-closethick:hover {background:#486d92 url(../images/xn-closethick-hover.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-refreshthick:hover {background:#486d92 url(../images/xn-refresh-hover.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .xn-close-confirm{ float:right; background-color:#486d92; color:#ffffff; font-size:10px; font-weight:normal; margin-top:4px; }
	#xn-dashboard .xn-close-confirm-option{ background-color:#ffffff; color:#d67a16; font-size:10px; font-weight:normal; cursor:pointer; padding:1px 3px 1px 3px; }
	
	#xn-dashboard .portlet-content { padding:0 2px 3px 2px;}
	#xn-dashboard ul { list-style-type: none; margin: 0; padding:0; overflow:hidden;}
	#xn-dashboard .xn-sortable { padding: 12px 5px 3px 5px; background:#ffffff url(../images/xn-sortable-bg.gif) repeat-x top left;}
	#xn-dashboard .xn-sortable li { margin: 0 0 2px 0; padding:0; border:none; height: 20px; line-height:18px; }
	#xn-dashboard .ui-state-default { background:none !important; color:#003366; position:relative; white-space:nowrap; overflow:hidden; cursor:move;}
	#xn-dashboard .xn-item-name { display:inline-block; background:url(../images/xn-bullet-item.gif) no-repeat 0 2px; padding:0 0 0 16px; height:18px; }
	#xn-dashboard .ui-state-default .xn-item-attributes {position:absolute; top:0; right:0; display:block; padding-left:10px; padding-right:5px; height:20px; background-color:#ffffff;}
	#xn-dashboard .xn-link-failed { display:block; float:left; padding-left:5px; height:20px; background:url(../images/xn-link-failed.gif) no-repeat center left; width:13px; height:20px; cursor:pointer; }
	#xn-dashboard .xn-item-number { display:block; float:left; height:20px; }
	#xn-dashboard .ui-state-default a { color:#630000; font-style:italic; font-weight:bold; text-decoration:none; }
	#xn-dashboard .ui-state-default a:hover { color:#003366; }
	
	.ui-tooltip{font-family:Verdana,Arial,sans-serif; font-size:11px; padding:5px !important; background:#fbf8d4 !important; border:solid #898989 2px !important;}
	
	.ui-dialog {font-size:11px;}
	.ui-dialog .ui-dialog .ui-dialog-buttonpane button {border:solid #f00 1px;}
	.ui-dialog .ui-widget-header { background:#003366 url(../images/xn-widget-header.png) repeat-x scroll 50% 50%; border:none; color:#ffffff; font-weight:bold; }
	.ui-dialog .ui-dialog-title {float:left; margin:0 16px 5px 0; }
	.ui-dialog.ui-widget-content {border:solid #003366 5px;}
	.ui-dialog a.ui-state-hover {background:none !important; border:none;}
	.ui-dialog .ui-icon-closethick { background:url(../images/xn-closethick.gif) no-repeat top left !important; width:16px; height:16px; cursor:pointer;}
	.ui-dialog .ui-icon-closethick:hover { background:url(../images/xn-closethick-hover.gif) no-repeat top left !important; width:16px; height:16px; cursor:pointer;}
	.ui-dialog .ui-dialog-titlebar {margin:0; padding:5px 20px 6px 10px;}
	.ui-dialog .validateTips { height:16px; line-height:16px; }
	.ui-dialog form {margin:0; padding:0;}
	.ui-dialog fieldset {border:none;}
	.ui-dialog fieldset input { width:200px;}
	.ui-widget button { border:0; background:url(../images/xn-dialog-button.gif) no-repeat top left !important; background-color:none; width:65px; height:18px; }
		
	.xn-clear { clear:both; }*/

	#xn-top-buttons-wrapper .ui-sortable-placeholder { border: 1px dotted black !important; visibility: visible !important; height: 50px !important; background:none !important; }
	#xn-top-buttons-wrapper .xn-sortable-items .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; background: none !important; height: 18px !important; }
	#xn-top-buttons-wrapper .ui-sortable-placeholder * { visibility: hidden; }
	#xn-top-buttons-wrapper { margin:0; text-align:right; font-family:Verdana,Arial,sans-serif; font-size:11px; height:20px; }
	#xn-buttons-container { margin:0; position:relative; width:245px; height:20px; z-index:999; float:right;}
	#xn-top-buttons-wrapper ul { list-style-type: none; margin: 0; padding:0 0 0 10px; border:solid #000000 1px; border-top:solid #486d92 1px; overflow:hidden; width:250px; text-align:center;}
	#xn-top-buttons-wrapper .xn-sortable-items { padding: 12px 5px 3px 5px; background:#ffffff url(../images/xn-sortable-bg.gif) repeat-x top left;}
	#xn-top-buttons-wrapper .xn-sortable-items li { margin: 0 0 2px 0; #margin:0 0 0 0; padding:0; border:none; height: 20px; line-height:18px; z-index:100; }
	#xn-top-buttons-wrapper .ui-state-default { background:none !important; background-color:#ffffff !important; color:#003366; position:relative; white-space:nowrap; overflow:hidden; cursor:move; text-align:left;}
	#xn-top-buttons-wrapper .xn-item-name { display:block; background:url(../images/xn-bullet-item-dd.gif) no-repeat 0 6px; padding:0 0 0 16px; height:18px; }
	#xn-top-buttons-wrapper .ui-state-default .xn-item-attributes {position:absolute; top:0; right:0; display:block; padding-left:10px; padding-right:5px; height:20px;}
	#xn-top-buttons-wrapper .xn-link-failed { display:block; float:left; padding-left:5px; height:20px; background:url(../images/xn-link-failed.gif) no-repeat center left; width:13px; height:20px; cursor:pointer; }
	#xn-top-buttons-wrapper .xn-item-number { display:block; float:left; height:20px; }
	#xn-top-buttons-wrapper .ui-state-default a { color:#630000; font-style:italic; font-weight:bold; text-decoration:none; }
	#xn-top-buttons-wrapper .ui-state-default a:hover { color:#003366; }	
	#xn-top-buttons-wrapper .show-items { position:absolute; right:0; top:20px; display:block; float:right; background:#ffffff; }
	#xn-top-buttons-wrapper .hide-items { display:none; }
	#xn-top-buttons-wrapper .add-group {float:left; background:url(../images/xn-add-group.gif) no-repeat top left; width:102px; height:20px; margin-right:5px; cursor:pointer;}
	#xn-top-buttons-wrapper .add-component {float:left; background:url(../images/xn-add-component-close.gif) no-repeat top left; width:138px; height:20px; cursor:pointer;}
	#xn-top-buttons-wrapper .add-component-open {float:left; background:url(../images/xn-add-component-open.gif) no-repeat top left; width:138px; height:20px; cursor:pointer;}
	
	#xn-dashboard .xn-note-wrapper{display:block; position:absolute; width:400px; top:30%; /*left:25%;*/ background-color:#676567; border:solid #363636 5px; padding:5px; font-family:Verdana,Arial,sans-serif; font-size:13px; z-index:2000;}
	#xn-dashboard .xn-note{border:solid #959595 2px; padding:10px; text-align:center;}
	#xn-dashboard .xn-note span.xn-note-title{color:#fdc689; font-weight:bold;}
	#xn-dashboard .xn-note span.xn-note-text{ color:#fff; font-style:italic;}
	
	#xn-dashboard {z-index:900;}
	#xn-dashboard .column { width: 33%; float: left; padding-bottom: 10px; }
	
	#xn-dashboard .ui-sortable-placeholder { border: 1px dotted black !important; visibility: visible !important; height: 50px !important; background:none !important; }
	#xn-dashboard .xn-sortable .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; background: none !important; height: 18px !important; }
	#xn-dashboard .ui-sortable-placeholder * { visibility: hidden; }

	#xn-dashboard { background-color:#f3f3f3; margin:0; padding:10px 4px 0 5px; }
	
	#xn-dashboard .ui-widget { font-family:Verdana,Arial,sans-serif; font-size:11px; }
	#xn-dashboard .portlet { margin: 0 4px 8px 4px; }
	#xn-dashboard .ui-widget-content { border:1px solid #486d92; }
	
	#xn-dashboard .portlet-header { margin:2px; padding:0 5px 3px 5px; border:none; height: 18px; background:none; background-color:#486d92; font-size:12px; color:#ffffff; cursor:move; }
	#xn-dashboard .portlet-header .xn-minimize {display:block; float:left; margin-right:5px; margin-top:3px; cursor:pointer;}
	#xn-dashboard .portlet-header .xn-close { float: right; margin-left:3px; margin-top:2px; cursor:pointer; }
	#xn-dashboard .portlet-header .xn-refresh { float: right; margin-left:3px; margin-top:2px; cursor:pointer; }
	#xn-dashboard .portlet-header .xn-portlet-title {display:block; float:left; margin-right:2px; padding-top:3px;}
	#xn-dashboard .ui-icon-minusthick {background:#486d92 url(../images/xn-minusthick.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-plusthick {background:#486d92 url(../images/xn-plusthick.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-closethick {background:#486d92 url(../images/xn-closethick.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-refreshthick {background:#486d92 url(../images/xn-refresh.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-minusthick:hover {background:#486d92 url(../images/xn-minusthick-hover.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-plusthick:hover {background:#486d92 url(../images/xn-plusthick-hover.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-closethick:hover {background:#486d92 url(../images/xn-closethick-hover.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .ui-icon-refreshthick:hover {background:#486d92 url(../images/xn-refresh-hover.gif) no-repeat top left !important; width:16px; height:16px; }
	#xn-dashboard .xn-close-confirm{ float:right; background-color:#486d92; color:#ffffff; font-size:10px; font-weight:normal; margin-top:4px; }
	#xn-dashboard .xn-close-confirm-option{ background-color:#ffffff; color:#d67a16; font-size:10px; font-weight:normal; cursor:pointer; padding:1px 3px 1px 3px; }
	.xn-refreshing {display:block; float:left; margin:0; padding:0; margin-left:10px; margin-top:3px !important; background-color:#ffffff; color:#d67a16; font-size:10px; font-weight:normal; padding:1px 3px 1px 3px;}
	
	#xn-dashboard .portlet-content { padding:0 2px 3px 2px;}
	#xn-dashboard ul { list-style-type: none; margin: 0; padding:0; overflow:hidden;}
	#xn-dashboard .xn-sortable { padding: 12px 5px 3px 5px; background:#ffffff url(../images/xn-sortable-bg.gif) repeat-x top left;}
	#xn-dashboard .xn-sortable li { margin: 0 0 2px 0; #margin:0 0 0 0; padding:0; border:none; height: 20px; line-height:18px; z-index:99;}
	#xn-dashboard .ui-state-default { background:none !important; background-color:#ffffff !important; color:#003366; position:relative; white-space:nowrap; overflow:hidden; cursor:move;}
	#xn-dashboard .xn-item-name { display:block; background:url(../images/xn-bullet-item.gif) no-repeat 0 2px; padding:0 0 0 16px; height:18px; }
	#xn-dashboard .ui-state-default .xn-item-attributes {position:absolute; top:0; right:0; display:block; padding-left:10px; padding-right:5px; height:20px; background-color:#ffffff;}
	/*#xn-dashboard .xn-link-failed { display:block; float:left; padding-left:5px; height:20px; background:url(../images/xn-link-failed.gif) no-repeat center left; width:13px; height:20px; cursor:pointer; }*/
	#xn-dashboard .xn-link-failed { display:block; float:left; padding-left:5px; margin-top:4px !important; width:13px; height:11px; cursor:pointer; }
	#xn-dashboard .xn-item-number { display:block; float:left; height:20px; }
	#xn-dashboard .ui-state-default a { color:#630000; font-style:italic; font-weight:bold; text-decoration:none; }
	#xn-dashboard .ui-state-default a:hover { color:#003366; text-decoration:underline !important; }
	
	.ui-dialog {font-size:11px;}
	.ui-dialog .ui-dialog .ui-dialog-buttonpane button {border:solid #f00 1px;}
	.ui-dialog .ui-widget-header { background:#003366 url(../images/xn-widget-header.png) repeat-x scroll 50% 50%; border:none; color:#ffffff; font-weight:bold; }
	.ui-dialog .ui-dialog-title {float:left; margin:0 16px 5px 0; }
	.ui-dialog.ui-widget-content {border:solid #003366 5px;}
	.ui-dialog a.ui-state-hover {background:none !important; border:none;}
	.ui-dialog .ui-icon-closethick { background:url(../images/xn-closethick.gif) no-repeat top left !important; width:16px; height:16px; cursor:pointer;}
	.ui-dialog .ui-icon-closethick:hover { background:url(../images/xn-closethick-hover.gif) no-repeat top left !important; width:16px; height:16px; cursor:pointer;}
	.ui-dialog .ui-dialog-titlebar {margin:0; padding:5px 20px 6px 10px;}
	.ui-dialog .validateTips { margin-bottom:5px; height:16px; line-height:16px; border:none !important; font-style:italic; color:#ff6600; }
	.ui-dialog form {margin:0; padding:0;}
	.ui-dialog fieldset {margin:0; padding:0; border:none;}
	.ui-dialog fieldset input { width:200px;}
	.ui-widget button { border:0; background:url(../images/xn-dialog-button.gif) no-repeat top left !important; background-color:none; width:65px; height:18px; }
	.ui-dialog .ui-state-error { border:solid #f00 1px !important; }

	.xn-clear { clear:both; }
	