a.dropdown {

   text-decoration: none;   

   font-size: 12px;

   font-weight:470;

   font-family: Verdana, Arial, Helvetica,sans-serif; 

   color: black;

   }

 

a.dropdown:hover {

   background: navy;

   color: white;  

   }


  .editableimage {
  border-right:none;
  height:19px;

  }

  .showdiv {
  display:none;
  margin-left: -123px;
  border:1 solid black;
  position:absolute;
  background:white;  
  height:100;  
  overflow:auto;

  }
