.detailBlock .reportTbl {
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  width: 99%;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #c0c0c0;
}
.tableStyle {
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  width: 99%;
}
.layoutTbl table {
  width: 99%;
  padding:0; margin:0;
}
.sixCol {
  width: 99%;
}
.detailSmlBlk{
	border-collapse: collapse;
}
.printTableStyle {
	border:1px solid #c0c0c0;
	width :99%;
}
.printHeader {
	width:100%;
	margin-bottom :0;
}