/* */
/* */
/* */
/*****************************/
/*    IE7 STYLE FIXES START  */
/*****************************/
body {
  overflow-y: auto;
}
#main {
  cursor: default;
}
#login .logoBox .logoIcon {
  margin: 26px auto 19px auto;
}
#login .loginForm .formArea input[type="text"],
#login .loginForm .formArea input[type="password"] {
  width: 160px;
  height: 18px;
}
.addWidgetHolder {
  width: 160px;
}
.widgetHolder .buttonHolder {
  top: 8px;
}
/* form fixes */
.formHeader {
  height: 31px;
}
.formItem input.dateinput {
  width: 60px;
}
.formItemBlock.sortItems .desc input {
  margin-top: 0;
}
.globalPrefBtnIE {
  width: 97%;
  float: right;
}
#globalPrefContent .btnSpacer {
  height: 6px !important;
}
.btnTxtColor {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 10px;
}
/* fix for treeview */
#treeviewdiv .treeviewcontentelement span.navigationicon {
  background: url("../../images/xenos/icon/menu-right-arr.gif") no-repeat right -1px;
}
#treeviewdiv span.arrow {
  background: url("../../images/xenos/icon/header-arr.gif") no-repeat right 2px;
  display: block;
  float: left;
}
#treeviewdiv #treeviewheader label.headerlabel {
  display: block;
  float: left;
}
/* fix for widgets */
.widgetHolder .configureButtonHolder .contentArea {
  top: 17px;
}
.widgetHolder .configureButtonHolder .row .contentBlockValue {
  padding-left: 5px;
}
.widgetHolder .configureButtonHolder .row .contentBlockValue .chkboxHolder {
  margin-right: 4px;
}
.addWidgetDialog .addWidgetHolder {
  width: 200px;
}
/* fix for popup */
.popFormItem > label {
  width: 145px;
}
.addTaskFormItem input.bigInput {
  width: 110px !important;
}
.addTaskFormItem input.dateinput {
  width: 62px !important;
}
.addTaskbtnWrapStyle {
  margin: 170px 4px 0 0 !important;
}
#taskDialog .taskDialogHeight {
  height: 293px !important;
  width: 435px !important;
}
#taskDialog .formItem {
  width: 435px;
}
#taskDialog .formItem label {
  width: 170px;
}
#taskDialog #confirmMessageContainer {
  width: 445px;
}
.formBlkIEWidth {
  width: 330px !important;
}
.formBlkIEOccup {
  width: 310px !important;
  margin-top: 12px !important;
}
.xenosRadioSrchBrdOccup {
  width: 390px !important;
}
.popupBtn {
  margin: 3px 0 0 0;
}
.xenosRadio input[type='radio'] {
  margin-top: 0;
}
.popFormItem {
  margin-top: 5px;
}
.popFormItem .xenosRadio label {
  margin-top: 5px;
}
.xenosRadioSrchBorder .xenosRadioSrchBy,
.xenosRadioSrchBrdOccup .xenosRadioSrchBy {
  margin-top: 5px;
}
.entryDetailTabpos {
  margin-top: -36px !important;
}
.detailBlock {
  width: 97.2%;
}
.detailBlock2Col {
  width: 47.5%;
}
.detailBlock3Col {
  width: 98%;
  vertical-align: top;
}
.detailBlock3Col td {
  width: 33%;
  padding: 0 0 0 4px;
}
.detailBlkSmallHgt {
  height: 129px;
}
.formContArea {
  width: 592px !important;
  margin: 0 auto 10px auto;
  font-size: 15px;
}
.SSIspacer {
  margin-top: -7px;
}
.entrySingleCol {
  width: 99.2% !important;
}
.entryContainer .popupBtnIco {
  top: 2px;
}
.consolidateActCkBox {
  margin: -3px 0 0 0;
}
.stlChkBoxArea input[type="checkbox"] {
  position: static;
}
/* fix for task widget */
.widgetHolder .actionArea .pendingBtn {
  margin: 2px 0 0 4px;
  width: 60px;
}
.widgetHolder .actionArea .pendingBtn label {
  width: 40px;
  margin-top: -17px;
}
.taskmenu {
  margin-top: 1px;
}
.addTaskRoutineLabel {
  padding: 7px 0 0 0;
}
/* fix for task widget */
/* fix for fontFace */
.widgetHolder .updateButtonHolder {
  margin-top: 2px;
}
.widgetHolder .editButtonHolder {
  margin-top: 4px;
}
.widgetHolder .addButtonHolder {
  margin-top: 4px;
}
.widgetHolder .configureButtonHolder {
  margin-top: 5px;
}
.widgetHolder .closeButtonHolder {
  margin-top: 4px;
}
.widgetHolder .savedQuery .editSavedQueryName {
  height: 16px;
}
.entryContainer .entryGridLeft {
  float: left;
  width: 49%;
}
.entryContainer .entryGridRight {
  float: right;
  width: 49%;
}
.sf-menu li.sfHover ul {
  top: 27px;
}
#user-menu #personalise .sf-menu li.sfHover ul {
  top: 26px;
}
.widgetHolder .advanceActionArea .pendingBtn {
  width: 65px;
}
.widgetHolder .advanceActionArea .pendingBtn .pendingChkBox,
.widgetHolder .advanceActionArea .pendingBtn .routineChkBox {
  float: left;
}
.widgetHolder .advanceActionArea .pendingBtn label {
  float: left;
  padding-top: 2px;
}
.addWidgetDialog .addWidgetHolder .row .contentBlockLabel {
  padding-top: 8px;
  width: 145px;
}
.addWidgetDialog .bar {
  margin: 1px 0 8px 0;
  border-bottom: 1px dotted #FFFFFF;
  height: 5px;
  overflow: hidden;
}
.addWidgetDialog .row .deleteWidgetButton {
  opacity: 0.2;
  filter: alpha(opacity=20);
  height: 15px;
  width: 15px;
}
.addWidgetDialog.deleteWidgetButton:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.addWidgetDialog .row:hover {
  background: #277cd2;
  outline: 0 none;
  width: 100%;
}
.entryContainer {
  position: relative;
}
.entryContainerConfirm {
  position: relative;
}
.es-carousel-wrapper {
  overflow: hidden;
}
.pagecounter {
  position: relative;
  width: 30px;
}
.pagecounter .info {
  position: absolute;
  right: 5px;
  top: 2px;
}
.xenos-grid-pager .recordcounter {
  position: relative;
  width: auto;
  padding-right: 15px;
}
.xenos-grid-pager .recordcounter .info {
  position: absolute;
  right: 0;
  top: 2px;
}
.formItemBlock.sortItems span.desc input {
  margin-top: 1px;
}
.ui-widget-header .ui-icon.ui-icon-closethick {
  background: url("../../images/xenos/icon/closebtn.png") 5px 5px no-repeat;
}
/* For file upload style */
input[type="file"] {
  font-size: 13px;
  height: 22px;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #3e3e3e;
}
input[type="file"]:focus,
input[type="file"]:active {
  border-color: #848484 #c1c1c1 #e1e1e1;
}
/***************************/
/*    IE7 STYLE FIXES END  */
/***************************/