/* */
/* */
/* */
/*****************************/
/*    IE8 STYLE FIXES START  */
/*****************************/
.widgetHolder .closeButtonHolder {
  margin-top: 3px;
}
.sf-menu li.sfHover ul {
  top: 27px;
}
#user-menu #personalise .sf-menu li:hover ul {
  top: 31px;
}
#user-menu #personalise .sf-menu li.sfHover ul {
  top: 31px;
}
#more_li.sfHover ul {
  top: 27px;
}
#user-menu #personalise .sf-menu li a span.userNameVal {
  max-width: 125px;
  text-align: left;
}
.widgetHolder .closeButtonHolder {
  margin-top: 1px;
}
.growlBox .content ul li {
  background: url("../../images/xenos/icon/growl-arrow-ico.png") no-repeat 0 8px;
  padding: 0 0 5px 10px;
}
/* fix for account confirmation tabs */
.es-carousel.tabStepArea ul li a {
  line-height: 22px;
}
.es-carousel.tabStepArea ul li.current a {
  line-height: 26px;
}
.editableWorkspace {
  margin: 0 5px 0 0;
}
span.uploadingLoader {
  margin: 2px 5px 0 0;
}
/* For file upload style */
input[type="file"] {
  font-size: 13px;
  height: 22px;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #3e3e3e;
}
input[type="file"]:focus,
input[type="file"]:active {
  border-color: #848484 #c1c1c1 #e1e1e1;
}
/***************************/
/*    IE8 STYLE FIXES END  */
/***************************/