/* */
/* */
/* */
/*****************************/
/*    IE9 STYLE FIXES START  */
/*****************************/
#user-menu #personalise .sf-menu li:hover ul {
  left: 0;
  top: 27px;
  z-index: 99;
}
#user-menu #personalise .sf-menu li.sfHover ul {
  left: 0;
  top: 27px;
  z-index: 99;
}
#more_li:hover ul {
  left: 0;
  top: 27px;
  z-index: 99;
}
#more_li.sfHover ul {
  top: 24px;
}
.widgetHolder .closeButtonHolder {
  margin-top: -1px;
}
/* fix for account confirmation tabs */
.es-carousel.tabStepArea ul li a {
  line-height: 22px;
}
.es-carousel.tabStepArea ul li.current a {
  line-height: 26px;
}
.editableWorkspace {
  margin: 0 5px 0 0;
}
span.uploadingLoader {
  margin: 2px 5px 0 0;
}
/* For file upload style */
input[type="file"] {
  font-size: 13px;
  height: 22px;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #3e3e3e;
}
input[type="file"]:focus,
input[type="file"]:active {
  border-color: #848484 #c1c1c1 #e1e1e1;
}
/***************************/
/*    IE9 STYLE FIXES END  */
/***************************/