.root{
	/*background-image:url(../images/openbg.gif);
	background-repeat:repeat-y;
	*/
	margin-left:0px;
	border-top:1 solid white;
	background-color:#E8F3FF;
	font-family:Arial;
	font-size:10;
	height:150;
	width:100%;
	overflow:auto;
	}
/*
.root1{
	/*background-image:url(../images/openbg.gif);
	background-repeat:repeat-y;
	*/
	/*margin-left:5px;
	border-top:1 solid white;
	border-left:1 solid white;
	background-color:#E8F3FF;
	font-family:Arial;
	font-size:10;
	height:20px;
}
.root2{margin-left:25px;border-top:1 solid white;border-left:1 solid white;background-color:#E8F3FF;font-family:Arial;font-size:10;height:20px; word-wrap:normal;}
.leaf{margin-left:20px;border-top:1 solid white;border-left:1 solid white;background-color:#E8F3FF;font-family:Arial;font-size:10;height:20px;word-wrap:normal;display:none;}
*/
/*
.root1{
	margin-left:20;
	padding-left:0px;
	height:20px;
	font-family: tahoma; 
    font-size: 10px;
	vertical-align:top;
	text-align:left;
	border-left:1px dashed black;
}
#root1 img {
	vertical-align:middle;
}
#leaf>img{
	vertical-align:middle;
}
.leaf{
	margin-left:20;
	padding-left:0px;
	height:20px;
	font-family: tahoma; 
    font-size: 10px;
	vertical-align:top;
	text-align:left;
	display:none;
}
*/
.parentNode{
	margin-left:20;
	padding-left:0px;
	height:20px;
	font-family: tahoma; 
    font-size: 10px;
	vertical-align:top;
	text-align:left;	
}
#ALL img {
	vertical-align:middle;
}
#1 img {
	vertical-align:middle;
}
.childNode{
	margin-left:20;
	padding-left:0px;
	height:20px;
	font-family: tahoma; 
    font-size: 10px;
	vertical-align:top;
	text-align:left;
	display:none;
}
.childNodeLevel1{
	margin-left:20;
	padding-left:0px;
	height:20px;
	font-family: tahoma; 
    font-size: 10px;
	vertical-align:top;
	text-align:left;
	display:block;
}
a.cancelink{
  color:red;
}
