body{
	font-family:Trebuchet MS, Verdana;
	font-size:8pt;
}
.menubar{
	/*float:left;
	
	width:200px;*/
	min-width:100px;
	height:25px;
	background-color:#F0F8FF; /* ligh blue */
	/*color:#6A6A6A;*/
	color:black;
	padding-left:5px;
	padding-right:5px;
	padding-top:0px;
	padding-bottom:0px;
	font-size:10pt;
	
	/*border-left:1px solid black;
	border-right:1px solid #FFFFFF;
	*/
	border-bottom:1px solid black;
	border-top:1px solid #FFFFFF;
	text-decoration:none;
	cursor:default;
	/*filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=70, Style=2); */
}

.menuhover{
	/*float:left;
	min-width:200px;
	width:150px;*/
	min-width:100px;
	height:25px;
	
	background-color:#B7DBFF; /* dark blue */
	/*color:#6A6A6A;*/
	color:black;
	padding-left:5px;
	padding-right:5px;
	padding-top:0px;
	padding-bottom:0px;
	font-size:10pt;
	
	/*border-left:1px solid black;
	border-right:1px solid #FFFFFF;
	*/
	border-bottom:1px solid black;
	border-top:1px solid #FFFFFF;
	text-decoration:none;
	cursor:pointer;
	/*filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80, FinishOpacity=70, Style=2); */
}

A#lnk {
	text-decoration:none;
	/*color:#004080;*/
	color:black;
	width:100%;
}
/*
table{
	background-color:#6E6E6E;
	border-left:1px solid #6B6B6B;
	border-right:1px solid #6B6B6B;	
	border-bottom:1px solid #6B6B6B;
	border-top:1px solid #6B6B6B;
	
	FILTER: DropShadow(Color=#c0c0c0,direction=125);
	FILTER : DropShadow(Color=#FF0000, OffX=12, OffY=12, Positive=1);
	
}

div{
	width:120px;
	}
*/
.menudisable{
	/*float:left;
	min-width:100px;
	width:200px;*/
	min-width:100px;
	height:25px;
	background-color:#DBDBDB;
	/*color:#6A6A6A;*/
	color:black;
	padding-left:5px;
	padding-right:5px;
	padding-top:0px;
	padding-bottom:0px;
	font-size:10pt;
	/*border-left:1px solid black;
	border-right:1px solid #FFFFFF;
	*/
	border-bottom:1px solid #64B1FF;
	border-top:1px solid #FFFFFF;
	cursor:default;
}
.menulnk{
	text-decoration:none;
	color:white;
}
td#a {
	text-decoration:none;
}

.show{
	display:block;
	visibility:visible;
}
.mainmenu{	
	/*border:solid 1px black;	*/
	width:100%;
	padding:0px;
	background-color:#003366;
	font-size:10pt;
	border-top:1px solid black;
	/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#676767,direction=145,strength=2);*/
}
.submenu{
	position:absolute;
	display:none;
	/*background-color:white;*/
	
}
.shadow{
	/*background-color:#808080;*/
	padding-left:0px;
	padding-top:opx;
	padding-bottom:0px;
	padding-right:0px;
	border:1px solid #C0C0C0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#676767,direction=145,strength=2);
	z-index: 1000;
}
#sp{
	float:top;
	position:static;
	text-align:right;
	margin-right:3px;
}
selector {
  float:right;
  width:50%;
  text-align:right;
  }
/*
span{
	width:*;
	text-align:right;
	align:right;
}
*/

#menuchildren{
	/*border:1px solid black;
	min-height:300px;
	max-height:300px;
	height:300px;*/
}

#menucaption{width:90%};