
/***********************************************/
/*    STYLING OF MULTISELECT PLUGIN     */
/***********************************************/

.ui-multiselect-input{
  background: #fff !important;
  border-bottom: 1px solid #66a3c1;
  border-top: 1px solid #003d5b;
  border-left: 1px solid #66a3c1;
  border-right: 1px solid #66a3c1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #000 !important;
  outline: 0 !important;
  margin: 0 !important;
  padding: 0 30px 4px 3px !important;
  text-align: left !important;
  font-size: 13px !important;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', sans-serif !important;
  height: 18px !important;
  vertical-align: top !important;
  position:relative;
  overflow:hidden;
  z-index:1;
}

.ui-multiselect-input:focus{
	-webkit-box-shadow: #0066ff 0 0 4px 0;
	-moz-box-shadow: #0066ff 0 0 4px 0;
	-o-box-shadow: #0066ff 0 0 4px 0;
	box-shadow: #0066ff 0 0 4px 0;
}

.ui-autocomplete.ui-widget-content { border:2px solid #000; }

.ui-button-icon-only {
	background: url("../../images/namrui/icon/multiselectIco.gif") no-repeat 0 0 !important;
	border:none !important;
	position:relative;
	right:22px;
	height:10px;
	width:19px;
	top:3px;
	z-index:1;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.ui-button-icon-only{
		background: url("../../images/namrui/icon/multiselectIco.gif") no-repeat -28px 0px !important;
		border:none !important;
		position:relative;
		right:14px;
		height:4px;
		width:7px;
		top:2px;
		z-index:1;
	}
  .ui-autocomplete.ui-widget-content { border:1px solid #799bd2; }
}

.ui-menu { padding:0; }

.ui-button-icon-only .ui-state-default .ui-icon { background-image:none !important; }
.ui-multiselect-item .ui-state-default .ui-icon { background-image:url("../../images/xenos/jquery-ui-custom/ui-icons_ffffff_256x240.png") }

.ui-menu .ui-menu-item { background:#fff; }

.ui-menu .ui-menu-item a {
  color:#424F56;
  font-size:13px;
  line-height: 20px;
  width:130%;
  border-bottom:none;
}

.ui-multiselect-item { max-width:100px; }

.ui-multiselect-item.ui-state-default{
	background:#0069bf !important;
	border:0 !important;
	border-radius:2px;
	padding: 0 0 0 0;
	height:17px;
  line-height:17px;
}

.ui-button-icon-only .ui-icon { background-image:none !important; }

.ui-multiselect-item.ui-state-default .ui-icon{
	background-image:url("../../images/namrui/icon/tagCross.png");
	background-position: 0 0;
	width:6px;
	height:6px;
	margin-top:-3px;
}

.ui-multiselect-item .ui-button-text{
	max-width:100px;
	white-space:nowrap;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	display:block;
}
/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { color: #fff; }*/
.ui-multiselect-item .ui-button-text{
  color: #fff;
  line-height: 16px !important;
  font-size: 12px;
}


.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a ui-state-active {
  font-weight: normal !important;
  margin: 0 !important;
  padding: 2px !important;
  height: 20px !important;
  background: #3399ff !important;
  color:#fff;
  border-bottom:none;
}

/* overriding Jquery UI css for menu search */
#autocompletecontainer .ui-autocomplete {
  position: absolute;
  cursor: default;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
#autocompletecontainer .ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  border: 0 none;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#autocompletecontainer .ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  background: #2d5ab8;
  border: 0 none;
}
#autocompletecontainer .ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  border: 0 none;
  padding: 4px 2px 0 2px;
  line-height: 1;
  zoom: 1;
  font: normal 13px/18px 'Trebuchet MS', 'Arial', 'Verdana', sans-serif;
  border-bottom: 1px solid #426abf;
  color: #ffffff;
  white-space: nowrap;
  height: 20px;
  cursor: pointer;
}
#autocompletecontainer .ui-menu .ui-menu-item a.ui-state-hover,
#autocompletecontainer .ui-menu .ui-menu-item a ui-state-active {
  font-weight: normal !important;
  margin: 0 !important;
  height: 20px !important;
  background: #537acc !important;
  padding: 4px 2px 0 2px !important;
}
#autocompletecontainer .ui-menu .ui-menu-item:last-child a {
  border-bottom: 0 none;
}

.multiSelMore{
	position:absolute;
	background:#999 ;
	border:0 ;
	border-radius:2px;
	padding: 1px;	
	right:22px;top:2px;
	display:inline-block;
	color:#fff;
	font-weight:bold;
}

.multiSelHover{
 overflow:auto !important;
 height:auto !important;
}

.formItem.disabled .ui-multiselect-input{
  background-color: #eee !important;
  cursor: default;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border: 1px solid !important;
  border-color: #848484 #c1c1c1 #e1e1e1 !important;
  color: #3e3e3e !important;
  outline: 0 !important;
  margin: 0 !important;
  padding: 0 30px 4px 3px !important;
  text-align: left !important;
  font-size: 13px !important;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', sans-serif !important;
  height: 17px !important;
  vertical-align: top !important;
  position:relative;
  overflow:hidden;
  z-index:1;
}

.formItem.disabled .ui-button-icon-only{
	opacity: 0.2;
  filter: alpha(opacity=20);
}

.deltopitems .formItem.disabled .ui-multiselect-input{
	display:none !important;
}
.delmoreitems .formItem.disabled .ui-multiselect-input{
	display:none !important;
}