.dayName{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	font-weight:normal;
	color:#000000;
	text-align:center;
	background-color:#E6E6E6;
	width:18px;
	height:16px;
}
.day{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	font-weight:normal;
	color:#004080;
	text-align:center;
	background-color:#FFFFFF;
	width:18px;
	height:18px;
}
.cday{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	font-weight:normal;
	color:#004080;
	text-align:center;
	background-color:#D9ECFF;
	width:18px;
	height:18px;
}
.gridContainer{
	background-color:#EAEAEA;
}
.calTop{
	background-color:#004080;
	color:#ffffff;
	border-top:1 solid #808080;
	border-left:1 solid #808080;
	border-bottom:1 solid white;
	border-right:1 solid white;
	width:126px;
}
.calendar{
	width:150px;
	padding:5px;
	background-color:#EAEAEA;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#676767,direction=145,strength=3);
	text-align:center;
	border:1 solid #808080;
}
.calTextbox{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight:normal;
	background-color:#004080;
	color:#FFFFFF;
	text-align:center;
	border:0;
	height:18px;
	padding:2px;
}
.arrow{
	padding:2px;
}
.monthlist{
	border:1 solid #808080;
	background-color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#676767,direction=145,strength=3);
}
.even{
	background-color:white;
	height:18px;
}
.odd{
	background-color:#E9E9E9;
	height:18px;
}
.monthname{
	font-family:Arial, Verdana;
	font-size:10;
	color:#004080;
	
}
.monthOver{
	font-family:Arial, Verdana;
	font-size:10;
	color:#004080;
	background-color:#E1F0FF;
}
.Title{
	background-color:#0066CC;
	text-align:right;
}