/* */
/* */
/* */

/* xenos Print CSS */
/* Reset */

body { 
	font-family: "Trebuchet MS", "Arial", sans-serif;
	color: #000; 
	font-size:8pt;
	background:#fff;
	margin:0;
	padding:0;
	line-height: 1.4em;
	overflow-y;visible;
}

h1, h2, h3 {
    margin: 4px 0 8px 0;
	font-weight:bold;
	padding:0;
}

h1 { font-size: 12pt; }
h2 { font-size: 10pt; }
h3 { font-size: 9pt; }

/* Common Style */
.left { float:left; }
.right { float:right; }
.clear{ clear:both;}


/* Hide while print */
#top, #menu, #control, #footer { display:none; }

/* Fix for Print */
#content, #dashboard {
	height:auto !important;
	overflow:visible !important;
}

#workspacesWrapper, #workspaces .workspaceHolder, .jspContainer, .contentHolder {
	height:auto !important;
	overflow:visible !important;
}

.widgetHolder {
	float:left;
	height:auto !important;
	width:220px;
	border:1px solid #000;
	padding:4px;
	margin:0 8px 8px 0;
}

.widgetContentArea {
	height:auto !important;
	overflow:visible !important;
}


/* Form items */
.formItemBlock.more {
	display:block;	
}

.formItem {
	float:left;
	width:445px;
	margin:4px 5px 4px 0;
}







/* End */
.detailBlock2Col  {
	width:48.5%;
}



.moreTable { display:block !important;}
.headerForPrint  { 
	display:block !important;
}
.headerForPrint  h1 {
	font-family: "Trebuchet MS", "Arial", sans-serif;
	color: #515151; 
	font-size: 12pt;
}

.tableStyle {
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  width: 100%;
}
.tableStyle td {
  font-family: "Trebuchet MS", "Arial", sans-serif;
  color: #515151;
  font-size: 8pt;
  /*height: 24px;*/
  padding:2px 3px;
  vertical-align: middle;
}
.tableStyle td a {
  font-family: "Trebuchet MS", "Arial", sans-serif;
  text-decoration: underline;
  color: #515151;
}
.tableStyle td a:hover {
  text-decoration: none;
}
.tableStyle label {
  font-family: "Trebuchet MS", "Arial", sans-serif;
  color: #515151;
  font-size: 8pt;
  display: block;
}
.layoutTbl {
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  width: 100%;
  
}
.layoutTbl table {
  width: 100%;
  padding:0; margin:0;
}
.detailBlock {
  background: #fff;
  padding: 0 4px 4px;
  margin-bottom: 12px;
}

.detailBlock h1 {
  margin: 0;
  font-size: 11pt;
  color: #515151;
  padding: 4px 0 5px 0;
  display: block;
  font-weight: bold;
  /*height: 26px;*/
  font-family: "Trebuchet MS", "Arial", sans-serif;
  
}

.detailBlock .reportTbl {
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  width: 100%;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #c0c0c0;
}
.detailBlock .reportTbl th {
  font-family: Arial, sans-serif;
  color: #000;
  font-size: 8pt;
  height: 15px;
  vertical-align: middle;
  font-weight: bold;
  padding: 2px;
  background: #f3f3f3;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #c0c0c0;
}
.detailBlock .reportTbl td {
  font-family: Arial, sans-serif;
  color: #000;
  font-size: 8pt;
  height: 20px;
  padding: 2px;
  vertical-align: middle;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #c0c0c0;
}
.detailBlock .reportTbl td.noRecord {
  color: #ff0000 !important;
  text-align: center;
}
.detailBlock .detailTxtTruncate {
  
  vertical-align: middle;
  display: inline-block;
}
.detailBlock2Col {
  width: 48.5%;
}
.detailBlock2Col .tableStyle{
	border:1px solid #c0c0c0;
}
.detailBlock2Col .tableStyle td {
  width: 50%;
  padding: 0 0 0 4px;
  border-bottom: 1px solid #c0c0c0;
}
.noBdr td {
  border-bottom: 0 none !important;
}
.detailBlock3Col {
  width: 100%;
  vertical-align: top;
}
.detailBlock3Col td {
  width: 33%;
  padding: 0 0 0 4px;
  vertical-align:top;
 /* border-bottom: 1px solid #c0c0c0;*/
}
.detailNobrd {
  border-bottom: 0 none !important;
}
.detailMorebrd {
  background: #fff;
}
.detailMoreHandler {
  background: #fff !important;
}
.odd {
  background: #f9f9f9;
}
.blockExpand{
 display:none;
}
.moreHandle{
	display:none;
}

.dtlInfoBlock{
	border:1px solid #c0c0c0;
}
.moreTable{
	margin-bottom:10px;
}
#formActionArea{
	display:none;
}
.sixCol {
  width: 100%;
}
.sixCol td {
  padding: 0 0 0 4px;
  border-bottom: 1px solid #c0c0c0;
  width: 16%;
}

/*.noBdr td{
	border-bottom: 1px solid #c0c0c0 !important;
}*/
.moreTable .noBdr td {
  border-bottom: 0 none !important;
}

.noBdr td{
	border-bottom: 0 !important;
}

.detailSmlBlk td {
	border-bottom: 1px solid #c0c0c0;
}
.detailSmlBrdPad{
	border:1px solid #c0c0c0;
}
.printTableStyle {
	border:1px solid #c0c0c0;
}
