/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/
.slick-header.ui-state-default,
.slick-headerrow.ui-state-default {
    width: 100%;
    overflow: hidden;
    border-left: 0px;
    border-top: 0px;
    border: 1px solid #d4d4d4;
}
.slick-header-columns,
.slick-headerrow-columns {
    width: 999999px;
    position: relative;
    white-space: nowrap;
    cursor: default;
    overflow: hidden;
    background: #5d5d5d;
}
.slick-header-column.ui-state-default {
    background: #5d5d5d;
    font-family: 'Trebuchet MS', 'Arial', 'Verdana', sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15px;
    line-height: 18px;
    margin: 0;
    padding: 4px;
    border-right: 1px solid silver;
    border-width: 0 1px 0 0;
    float: left;
    font-size: 13px;
    font-weight:bold;
    color: #fff;
}
.masterHeaderAlignWithBorder,
.headerAlignWithBorder {
    text-align: center;
    border-bottom: 1px solid #C0C0C0 !important;
}
.slick-headerrow-column.ui-state-default { padding: 4px }
.slick-header-column:hover { background: #383838 !important; }
.slick-header-column-sorted { font-style: normal; }
.ui-state-default.slick-header-column.slick-header-column-sorted { background: #383838 !important; }
.slick-sort-indicator {
    display: inline-block;
    width: 0px;
    height: 8px;
    margin-right: 2px;
    #margin-top: -10px;
}
.slick-sort-indicator-desc {
    background: url(../../images/xenos/sort-desc.gif);
    width: 8px;
}
.slick-sort-indicator-asc {
    background: url(../../images/xenos/sort-asc.gif);
    width: 8px;
}
.slick-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    cursor: col-resize;
    width: 8px;
    right: 0px;
    top: 0;
    height: 100%;
}
.slick-sortable-placeholder { background: silver }
.grid-canvas {
    position: relative;
    outline: 0;
}
.slick-row.ui-widget-content,
.slick-row.ui-state-active {
    position: absolute;
    border: 0px;
}
.slick-cell,
.slick-headerrow-column {
    position: absolute;
    border: 1px solid transparent;
    border-right: 1px solid #d4d4d4;
    border-bottom-color: #e6e6e6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    z-index: 1;
    padding: 1px 2px 2px 1px;
    margin: 0;
    white-space: nowrap;
    cursor: default;
}
.slick-group { }
.slick-group-toggle { display: inline-block }
.slick-cell.highlighted {
    background: lightskyblue;
    background: rgba(0,0,255,0.2);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.slick-cell.flashing { border: 1px solid red !important }
.slick-cell.editable {
    z-index: 11;
    overflow: visible;
    background: white;
    border-color: black;
    border-style: solid;
}
.slick-cell:focus { outline: none }
.slick-reorder-proxy {
    display: inline-block;
    background: blue;
    opacity: 0.15;
    filter: alpha(opacity=15);
    cursor: move;
}
.slick-reorder-guide {
    display: inline-block;
    height: 2px;
    background: blue;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.slick-selection {
    z-index: 10;
    position: absolute;
    border: 2px dashed black;
}
/*New Styles and also overriding of existing slick grid styles*/
.xenos-grid-pager {
    /*background: #fff;*/
    height: 21px;
    padding-top: 2px;
    border: 0 none;
}
.pagerWrap { padding: 0 5px }
.xenos-grid-pageNoarea {
    display: block;
    background: #e4f7ff;
}
.xenos-grid-pager .pageno {
    display: block;
    font-weight: normal;
    width: 25px;
    height: 13px;
    text-align: center;
    background: #fff;
    color: #000;
    font-size: 11px;
    padding: 2px;
    line-height: 12px;
    text-transform: uppercase;
    margin: 0 5px;
    font-weight: bold;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.xenos-grid-pager .pagenoText {
    font-size: 13px;
    display: block;
    padding: 1px 5px;
    color: #737373;
}
.xenos-grid-pager .pageno span { font-weight: normal }
.pager-progress {
    width: 20px;
    height: 10px;
    padding-top: 5px;
    float: left;
    margin: 0;
    background: url(../../images/xenos/dashboardLoader.gif) no-repeat center;
}
.xenos-grid-pager .pagecounter,
.xenos-grid-pager .recordcounter {
    float: left;
    color: #737373;
    padding: 1px 5px;
    font-size: 13px;
}
.xenos-grid-pager  .info { float: right }
.xenos-grid-pager .prev { background: url(../../images/namrui/icon/xenos-grid-pager-prev-ico.png) no-repeat 0 0; }
.xenos-grid-pager .next { background: url(../../images/namrui/icon/xenos-grid-pager-next-ico.png) no-repeat 0 0; }
.xenos-grid-pager .next,
.xenos-grid-pager .prev,
.xenos-grid-pager .refresh {
    cursor: pointer;
    display: block;
    float: left;
    height: 17px;
    width: 17px;
    margin: 1px 0 0 0;
}
.prevNextarea { width: 500px }
.xenos-grid-pager .next.disable,
.xenos-grid-pager .prev.disable,
.xenos-grid-pager .refresh.disable {
    cursor: default;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.slick-row.even { background: #f9f9f9; }
.slick-row.odd { background: #e5e9ed; }
.slick-row:hover { background: #fff6cb !important; }
.xenos-grid-pager .btnsArea .marginRight {
    margin-left: 10px;
}
.xenos-grid-pager .separater {
  background:url(../../images/namrui/icon/dotted-sep-ver.png) no-repeat 0 0;
  width:1px;
  height:15px;
  margin:2px 5px 0 10px;
}
/*Slick Grid Column Picker*/
.slick-columnpicker {
    border: 1px solid #487dad;
    background: #00375e;
    opacity : .9;
    filter : alpha(opacity=90) !important;
    padding-top: 4px;
    padding-bottom: 4px;
    min-width: 120px;
    width: auto;
    cursor: default;
    color: #fff;
    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
}
.slick-columnpicker .jspVerticalBar { width: 4px }
.slick-columnpicker li {
    list-style: none;
    margin: 0;
    /*padding: 0;*/
    padding-left: 4px;
    padding-right: 6px;
    background: none;
    height: 22px;
}
.slick-columnpicker li:hover {
  background:rgba(255,255,255,0.1);
}
.slick-columnpicker input {
    margin: 0;
    padding: 0;
    margin: 4px 6px 2px 4px;
    #margin: 4px 4px 0 0;
}
.slick-columnpicker li a {
    display: block;
    padding: 4px;
    font-weight: bold;
}
.slick-columnpicker li a:hover { background: #fff }
.xenos-grid-progress {
    display: none;
    width: 16px;
    height: 16px;
    float: left;
    margin: 0;
    background: url(../../images/xenos/data-loader.gif) no-repeat center;
}
.slick-columnpicker label {
    padding-top: 2px;
    height: 20px;
    line-height: 22px;
    vertical-align: top;
    #line-height: 16px;
    #vertical-align: middle;
}
.btnsArea  .queryColumns {
    background: url("../../images/namrui/icon/columns-ico.png") no-repeat 0 0;
    display: inline-block;
}
.btnsArea  .queryColumns span {
    background: url(../../images/namrui/icon/queryResultmoreicon.gif) no-repeat right 7px;
    padding-right: 8px;
}
.btnsArea  .queryColmTop { margin-top: 1px }
.btnsArea .paddingLeft { padding-left: 18px }
.btnsArea a {
    display: block;
    cursor: pointer;
    height: 17px;
    padding-top: 1px;
}
.btnsArea a,
.btnsArea a:visited { }
.btnsArea a:hover { }
.btnsArea  .save-excel-report-prefs-btn{
  background: url("../../images/namrui/icon/save-excel-report-prefs-ico.png") no-repeat 0 1px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.btnsArea  .resetXlsReportPref.clear-excel-report-prefs-btn{
  background: url("../../images/namrui/icon/clear-excel-report-prefs-ico.png") no-repeat 0 1px;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -1px;
}
.btnsArea  .queryColumnsReset.clear-excel-report-prefs-btn{
  background: url("../../images/namrui/icon/clear-query-prefs-ico.png") no-repeat 0 1px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.btnsArea  .queryColumnsReset.clear-excel-report-prefs-btn.disable {
	opacity: .3;
    filter: alpha(opacity=30);
}

.btnsArea  .queryColumnsReset.clear-excel-report-prefs-btn:hover {}

.btnsArea  .saveBtn {
    background: url("../../images/namrui/icon/save-ico.png") no-repeat 0 1px;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.btnsArea  .saveBtn:hover { }
.btnsArea  .saveBtn.disable {
    opacity: .3;
    filter: alpha(opacity=30);
}
.btnsArea  .pdfBtn {
    background: url("../../images/namrui/icon/pdf-ico.png") no-repeat 0 1px;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.btnsArea  .pdfBtn:hover { }
.btnsArea  .pdfBtnCurrent {
    background: url(../../images/namrui/icon/pdf-current-icon.png) no-repeat 0 1px;
    width: 1px;
}
.btnsArea  .pdfBtnCurrent:hover { }
.btnsArea  .excelBtn {
    background: url("../../images/namrui/icon/xl-ico.png") no-repeat 0 1px;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.btnsArea  .excelBtn:hover { }
.btnsArea  .excelBtnCurrent {
    background: url(../../images/namrui/icon/xl-current-icon.png) no-repeat 0 1px;
    width: 1px;
}
.btnsArea  .excelBtnCurrent:hover { }
.btnsArea  .printBtn {
    font-family: "xenosFontRegular";
    font-size: 17.3px;
    color: #fff;
}
.btnsArea  .printBtn:hover { }
.btnsArea  .addRowBtn { background: url(../../images/namrui/icon/add-ico.png) no-repeat 0 1px }
.btnsArea  .deleteRowBtn { background: url(../../images/namrui/icon/trash-ico.png) no-repeat 0 1px }
.btnsArea  .deleteRowBtnBlue { background: url(../../images/namrui/icon/trash-ico-blue.png) no-repeat 0 1px }
.slick-columnpicker .hrBorder {
    display: block;
    height: 8px;
    border-top: 1px dotted #fff;
    #margin-bottom: -8px;
    margin-top: 8px;
}
.slick-cell {
    font-family: 'Trebuchet MS', 'Arial', 'Verdana', sans-serif;
    font-size: 13px;
    font-weight: normal;
    z-index: 0;
    padding: 2px 3px;
    color: #000;
    /*line-height: 16px;*/
}
.slick-cell .cancel {
    color: red;
    font-weight: bold;
}
.slick-cell .grnTxt {
    color: #0f8d44;
    font-weight: bold;
}
.slick-cell .orngTxt {
    color: #FF6600;
    font-weight: bold;
}
.xenos-grid-number { text-align: right }
.btnsArea .marginRight { margin-left: 8px }
.toggle {
    height: 11px;
    width: 11px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
}
.toggle.expand { background: url(../../images/namrui/icon/expand.gif) no-repeat center }
.toggle.collapse { background: url(../../images/namrui/icon/collapse.gif) no-repeat center }
.treeGridLoader {
    display: none;
    background: url(../../images/namrui/icon/treeGridLoader.gif) no-repeat center;
    height: 16px;
    width: 16px;
    text-align: center;
    margin-top: -2px;
}
.toggle.slick-subRow {
    display: inline-block;
    background: url(../../images/namrui/icon/slick-subrow-ico.png) no-repeat center;
    height: 17px;
    width: 17px;
    text-align: center;
    margin-top: -2px;
}
.slick-viewport {
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    width: 99.9% !important;
}
.slick-viewport .header-row { background-color: #87cefa !important }
.slick-viewport .highlight-row,
.slick-viewport .highlight-row-subTotal { background-color: #E8F3FF !important }
.slick-viewport .highlight-row-total { background-color: #A6D2FF !important }
.slick-viewport .highlight-row-customer { background-color: #FFEADF !important }
 .slick-excelcolumnpicker {
    border: 1px solid #487dad;
    background: #00375e;
    opacity : .9;
    filter : alpha(opacity=90) !important;
    padding-top: 4px;
    padding-bottom: 4px;
    min-width: 120px;
    width: auto;
    cursor: default;
    color: #fff;
    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
}
.slick-excelcolumnpicker .jspVerticalBar { width: 4px }
.slick-excelcolumnpicker li {
    list-style: none;
    margin: 0;
    /*padding: 0;*/
    padding-left: 4px;
    padding-right: 6px;
    background: none;
    height: 22px;    
}
.slick-excelcolumnpicker li:hover {
  background:rgba(255,255,255,0.1);
}
.slick-excelcolumnpicker input {
    margin: 0;
    padding: 0;
    margin: 4px 6px 2px 4px;
    #margin: 4px 4px 0 0;
}
.slick-excelcolumnpicker li a {
    display: block;
    padding: 4px;
    font-weight: bold;
}
.slick-excelcolumnpicker li a:hover { background: #fff }
.slick-excelcolumnpicker label {
    padding-top: 2px;
    height: 20px;
    line-height: 22px;
    vertical-align: top;
    #line-height: 16px;
    #vertical-align: middle;
    cursor:move;
}

#excelPrefSave,
#excelPrefReset {
  margin: 0 4px;
  padding: 0 10px;
  min-width: auto;
  font-size: 12px;
  height: 26px;
}