/*

*/

.scrollhead {overflow-y:scroll; width=100%; scrollbar-face-color: #dddddd; scrollbar-track-color: #dddddd;
             scrollbar-arrow-color: #dddddd; scrollbar-highlight-color: #dddddd; scrollbar-3dlight-color: #dddddd; scrollbar-shadow-color: #dddddd;
             scrollbar-darkshadow-color: #dddddd; }
.scrollbody { overflow-y:scroll; height=80; width=100%; }
/********************** UI IMAGE STYLE CLASSES***************************************************/
.bgStripes {  background-image: url(../images/stripes.gif)}
.bgBoxTop {  background-image: url(../images/boxTop.gif)}
.bgBoxLeft {  background-image: url(../images/boxLeft.gif)}
.bgBoxBottom {  background-image: url(../images/boxBottom.gif)}
.bgBoxRight {  background-image: url(../images/boxRight.gif)}

.bgBox2Bottom2 {  background-image: url(../images/box2Bottom2.gif)}
.bgBox2Top2 {  background-image: url(../images/box2Top2.gif)}

.bgBox2Top{  background-image: url(../images/box2Top.gif)}
.bgBox2Bottom {  background-image: url(../images/box2Bottom.gif)}
.bgBox2Left{  background-image: url(../images/box2Left.gif)}
.bgBox2LeftTop{  background-image: url(../images/box2LeftTop.gif)}
.bgBox2LeftBottom{  background-image: url(../images/box2LeftBottom.gif)}

.bgBox2Right{  background-image: url(../images/box2Right.gif)}
.bgBox2RightTop{  background-image: url(../images/box2RightTop.gif)}
.bgBox2RightBottom{  background-image: url(../images/box2RightBottom.gif)}
.bgBox2RightTop{  background-image: url(../images/box2RightTop.gif)}

.bgPopBottom {  background-image: url(../images/popBottom.gif)}
.bgPopRight {  background-image: url(../images/popRight.gif)}
.bgPopTop {  background-image: url(../images/popTop.gif)}
.popLeft {  background-image: url(../images/popLeft.gif)}
.bgPopLeft {  background-image: url(../images/popLeft.gif)}
.bgLeftMargin {background-image: url(../images/leftMargin.gif)}

/********************** HEADERS AND FOOTERS  ****************************************************/
.footer {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF}
.head {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold}
.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #333333}
.subhead {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; background-color: #486D92}

.validationError{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FF0000;}

.softValidation{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #0000FF;}
/**********************  FORM LABEL STYLE CLASSES **********************************************/
.labelreqd {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #AF3210}
.Label {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #113E75}
.labelbold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #333333}
.labelboldWT {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF}
.labelWT {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #FFFFFF}
.lblNormalWt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #ffffff; color: #113E75}
.lblNormalGry {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #eeeeee; color: #113E75}
.lblReqdWt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #AF3210; background-color: #ffffff}
.lblReqdGry {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #AF3210; background-color: #eeeeee}
.lblRed {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #AF3210; }
.lblGreen {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #00ff00; }
.bgrndWt {  background-color: #ffffff;height:22px}
.bgrndGry {  background-color: #cccccc;height:22px}
.bgWhite {background-color: #ffffff;}
.btnBgrndGry {  background-color: #cccccc;height:22px;border-top:1 solid white;}
.columnHead {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #113E75; background-color:#eeeeee;border-top:1pt solid black;border-bottom:1pt solid black; font-weight: normal; height: 20px; text-align: center}
.columnHeadTransparent {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #eeeeee; background-color:#eeeeee;border-top:1pt solid black;border-bottom:1pt solid black; font-weight: normal; height: 20px;padding-left: 2px; text-align: center}
.columnHeadCustodian {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #113E75; background-color:#eeeeee; border-top:1pt solid black; border-bottom:1pt solid black; font-weight: normal; height: 20px; text-align: left}
.columnHeadWRP {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #113E75;  font-weight: normal; height: 20px; text-align: center;background-color:#eeeeee}
.columnData {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; clip:  rect(   ); padding-right: 4px; padding-left: 4px}

.columnDataBold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight:bold;clip:  rect(   ); padding-right: 4px; padding-left: 4px}

.columnDataHlt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #734D22; clip:  rect(   ); padding-right: 4px; padding-left: 4px}
.columnDataRedBold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; clip:  rect(   ); padding-right: 4px; padding-left: 4px; color:red;}
.columnDataRt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-align: right; padding-right: 4px; padding-left: 4px}
.columnDataRtNoWrap {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-align: right; padding-right: 4px; padding-left: 4px; white-space:nowrap}
.columnDataRtHlt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #734D22; text-align: right; padding-right: 4px; padding-left: 4px}
.dataGry {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #eeeeee}
.dataWt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #ffffff; height: 18px}
.dataWtBlue {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #ffffff; color: #113E75; height: 18px}
.data {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;}
.rowGryAlignRt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #eeeeee; text-align: right; padding-right: 5px}
.rowWtAlignRt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #ffffff; text-align: right; padding-right: 5px}
.comments2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #AF3210}
.odd {  background-color: #eeeeee; height: 18px} /* TAG needed for Display Tag */
.even {  background-color: #ffffff; height: 18px}/* TAG needed for Display Tag */
.rowGry {  background-color: #eeeeee; height: 18px}
.rowWt {  background-color: #ffffff; height: 18px}
.rowColorCyan {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; clip:  rect(   ); padding-right: 4px; padding-left: 4px;background-color:#FFEADF}
.rowColorPink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; clip:  rect(   ); padding-right: 4px; padding-left: 4px;background-color:#DDEEFF}
th{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #113E75; background-color:#eeeeee;border-top:1pt solid black;border-bottom:1pt solid black; font-weight: normal; height: 20px; text-align: center}
.hyperlink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #734D22}
.subtot{background-color:#E8F3FF;height:18px}
.grandtot{background-color:#A6D2FF;height:18px}
/**********************  FORMS STYLE CLASSES ****************************************************/
.textbox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
.textboxDisabled {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #cccccc}
.textboxRt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-align: right}
.txtUpperCase {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-transform: uppercase}
.txtLowerCase {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-transform: lowercase}
.textboxnoborder{border:0px;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #ffffff; height: 18px}
.textboxnoborderRt {border:0px;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #ffffff; height: 18px; text-align: right}
.dummytextbox{border:0px;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #003366; height: 0px; width: 0px}
.textareanoborder{border:0px;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #ffffff; }
.003366{background-color:#003366}
.486D92{background-color:#486D92}
.88B0DB{background-color:#88B0DB}
.999999{background-color:#999999}
.A0C0E2{background-color:#A0C0E2}
.b4b4b4{background-color:#b4b4b4}
.B8D0E9{background-color:#B8D0E9}
.cccccc{background-color:#cccccc}
.cacaca{background-color:#cacaca}
.CECFCE{background-color:#CECFCE}
.dddddd{background-color:#dddddd}
.DBE7F4{background-color:#DBE7F4}
.e4e4e4{background-color:#e4e4e4}
.E6E6E6{background-color:#E6E6E6;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #113E75}

.666666{background-color:#666666}
.ffffff{background-color:#ffffff}
.e8e8e8Row{background-color:#e8e8e8;height:22}

/* Class defined for SGP ---- START ----*/
.0B3B2E{background-color:#0B3B2E}
.527543{background-color:#527543}
.89B278{background-color:#89B278}
.AED29F{background-color:#AED29F}
.D8F6CE{background-color:#D8F6CE}
.629C4B{background-color:#629C4B}
/* -------------- END ------------------*/

body{
	scrollbar-DarkShadow-Color:#78AAFF;
	scrollbar-3dLight-Color:#78AAFF;
	scrollbar-Arrow-Color:"black";
	scrollbar-Base-Color:#B5C5D7;
	scrollbar-Face-Color:#B5C5D7;
	scrollbar-Highlight-Color:#B5C5D7;
	scrollbar-Shadow-Color:#B5C5D7;
	scrollbar-Track-Color:"#F3F3F3";
}
.ccccccminwidth160 {
	width: 160%;background-color:#cccccc
}
.ccccccminwidth130 {
	width: 130%;background-color:#cccccc
}
.ccccccminwidth200 {
	width: 250%;background-color:#cccccc
}
