/* CSS file */

.ExtendedDividerBoxApp{ 
   backgroundGradientAlphas: 1,1;
   backgroundGradientColors: #DCEBFE,#8EB3E7;
}

.ExtendedDividerBox{
	barBorderColor:			#EE9819;
	barFillColors: 			#FAE38F,#EE9819;
	dividerThickness: 		10; 
	/*dividerSkin:			Embed(source="../NavGrip.png");*/
	
}
.ExtendedDividerBoxButtonH{
	buttonWidth:			30;
	barBorderColor:			#AAAAAA;/*#EE9819;*/
	barFillColors: 			#FFFFFF,#FFFFFF;/*#FAE38F,#EE9819;*/
	dividerThickness: 		10;
	/* dividerSkin:			Embed(source="../NavGrip.png"); */
	/* downSkin:				Embed(source="/assets/SkinSet001.swf#H_Slider_Button_1");
	overSkin:				Embed(source="/assets/SkinSet001.swf#H_Slider_Button_2");
	upSkin:					Embed(source="/assets/SkinSet001.swf#H_Slider_Button_2");
	selectedDownSkin:		Embed(source="/assets/SkinSet001.swf#H_Slider_Button_1");
	selectedOverSkin:		Embed(source="/assets/SkinSet001.swf#H_Slider_Button_2");
	selectedUpSkin:			Embed(source="/assets/SkinSet001.swf#H_Slider_Button_2"); */
	cornerRadius:			0;
}

.ExtendedDividerBoxButtonV{
	buttonWidth:			30;
	barBorderColor:			#EE9819;
	barFillColors: 			#FAE38F,#EE9819;
	dividerThickness: 		10;
	/* dividerSkin:			Embed(source="../NavGrip.png");  */
	/* downSkin:				Embed(source="/assets/SkinSet001.swf#V_Slider_Button_1");
	overSkin:				Embed(source="/assets/SkinSet001.swf#V_Slider_Button_2");
	upSkin:					Embed(source="/assets/SkinSet001.swf#V_Slider_Button_2");
	selectedDownSkin:		Embed(source="/assets/SkinSet001.swf#V_Slider_Button_1");
	selectedOverSkin:		Embed(source="/assets/SkinSet001.swf#V_Slider_Button_2");
	selectedUpSkin:			Embed(source="/assets/SkinSet001.swf#V_Slider_Button_2"); */
	cornerRadius:			0;
}

