/* CSS file */
Application {
	paddingTop:0;
	paddingBottom:0;
	paddingLeft:0;
	paddingRight:0;
	vertical-gap:0;
	theme-color: #007ac8;
	font-family: Verdana;
	color: #333333;
	font-size: 11;
	background-image: Embed(source="../swf/DefaultBg.swf#loginBg");
	backgroundSize: "100%";
	backgroundGradientColors: #ffffff, #ffffff;
	verticalAlign:middle;
	horizontalAlign:center;	
}
.Loginbg {
	background-image: Embed(source="../themes/default/skin/login_bg.png");
}

TextInput {
   borderStyle: inset;
   borderThickness: 1;
   borderColor: #006699;
   backgroundAlpha: 1;
   dropShadowEnabled: false;
   color:#000000;
}
Alert{
	color : #000000;
	font-weight :normal;
	font-size :11;
	title-style-name : "alertTitle";
	header-height:6;
	border-thickness: 1;
	drop-shadow-enabled: true;
	drop-shadow-color :#000000;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
	vertical-gap:0;
	horizontal-gap:0;
	background-color: #ffffff; 	
	corner-radius :6;
	border-style :solid;	
	border-color : #283e50;
}

.alertTitle{
	font-family :Verdana;
	font-size :10;
	font-weight :bold;
	text-align :left;
	color : #ffffff;
}
Button { 
	upSkin: Embed(source="../themes/default/skin/btn_up.png",
		scaleGridTop=5, 				
	    scaleGridBottom=10, 
	    scaleGridLeft=5, 
	    scaleGridRight=10
	);
	overSkin: Embed(source="../themes/default/skin/btn_over.png",
		scaleGridTop=5, 				
	    scaleGridBottom=10, 
	    scaleGridLeft=5, 
	    scaleGridRight=10
	);
	downSkin: Embed(source="../themes/default/skin/btn_disable.png",
		scaleGridTop=5, 				
	    scaleGridBottom=10, 
	    scaleGridLeft=5, 
	    scaleGridRight=10
	);
	disabledSkin: Embed(source="../themes/default/skin/btn_disable.png",
		scaleGridTop=5, 				
	    scaleGridBottom=10, 
	    scaleGridLeft=5, 
	    scaleGridRight=10
	);
	
	selectedDisabledSkin: Embed(source="../themes/default/skin/btn_over.png",
		scaleGridTop=5, 				
	    scaleGridBottom=10, 
	    scaleGridLeft=5, 
	    scaleGridRight=10
	);	
	
	selectedDownSkin: Embed(source="../themes/default/skin/btn_over.png",
		scaleGridTop=5, 				
	    scaleGridBottom=10, 
	    scaleGridLeft=5, 
	    scaleGridRight=10
	);
	
	selectedOverSkin: Embed(source="../themes/default/skin/btn_over.png",
		scaleGridTop=5, 				
	    scaleGridBottom=10, 
	    scaleGridLeft=5, 
	    scaleGridRight=10
	);
	
	selectedUpSkin: Embed(source="../themes/default/skin/btn_over.png",
		scaleGridTop=5, 				
	    scaleGridBottom=10, 
	    scaleGridLeft=5, 
	    scaleGridRight=10
	);	
		
	fontWeight: normal;
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor:#ffffff;
}

.PopupTitleWindow {   
   borderSkin: Embed(source="../themes/default/skin/TitleWindowSkin.png",
	    scaleGridTop=40,
	    scaleGridBottom=50, 				
	    scaleGridLeft=20,
	    scaleGridRight=21
	);   
   borderThicknessLeft: 15;
   borderThicknessRight: 15;
   borderThicknessTop: 40;
   borderThicknessBottom:15;
   background-alpha:0;
   headerHeight: 40;         
   dropShadowEnabled: false;
   padding-bottom:15;
   padding-left:15;
   padding-right:15;
   padding-top:40;
   close-button-skin: Embed("../themes/default/skin/popup_closeBtnDefault_up.png");
   close-button-up-skin: Embed("../themes/default/skin/popup_closeBtnDefault_up.png");
   close-button-over-skin: Embed("../themes/default/skin/popup_closeBtnDefault_over.png");
   close-button-down-skin: Embed("../themes/default/skin/popup_closeBtnDefault_down.png");
   titleStyleName: "PopupHeaderStyle";   	     	 
   }
.PopupHeaderStyle {
   color: #000000;
   fontWeight: bold;
}
